@import '_colors';
@import 'mixins/media';
@import 'variables';

.coaches-caption {
    display: flex;
    align-items: center;

    h2 {
        margin-bottom: 0;
        flex: auto;
    }
}

.add-coach-form {
    display: flex;
    flex: auto;
    justify-content: center;
    margin-bottom: 4px;

    > button {
        margin-left: 5px;
        flex-shrink: 0;
    }
}

.table {
    grid-area: table;
}

.empty-state {
    display: grid;
    grid:
        'a b' auto
        'c c' 1fr
        / 1fr 1fr;

    @include device-mobile {
        grid:
            'b'
            'c';
    }

    margin: $block-margin 0 $section-margin 0;

    form {
        grid-area: b;
    }

    > div {
        grid-area: c;
        display: grid;
        justify-content: center;
        text-align: center;
        grid-gap: 10px;

        > * {
            margin: 0;
        }
    }

    i {
        color: $primary;
    }

    h3 {
        font-weight: initial;
    }
}
