@import '_colors';
@import 'mixins/media';
@import 'variables';

.table-caption {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 4px;
    gap: 4px;

    h2 {
        margin: 0;
    }

    @include device-mobile {
        grid-template-columns: 1fr;
    }
}

.add-coach-form {
    display: flex;
    flex: auto;
    justify-content: center;

    > button {
        margin-left: 5px;
        flex-shrink: 0;
    }
}

.export-learner-form {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr auto;

    @include device-mobile {
        grid-template-columns: 1fr 1fr;

        button {
            grid-column: span 2;
        }
    }
}

.table {
    grid-area: table;
}

.empty-state {
    margin: $block-margin 0;

    &-content {
        text-align: center;
        display: grid;
    }

    i {
        color: $primary;
    }

    h3 {
        font-weight: initial;
        margin: 0;
    }
}
