@import '../colors';
@import '../variables';

table {
    thead {
        & tr:first-of-type > td,
        th {
            &:first-of-type {
                border-top-left-radius: 2px;
            }
            &:last-of-type {
                border-top-right-radius: 2px;
            }
        }
    }
    tbody {
        & tr:last-of-type > td,
        th {
            &:first-of-type {
                border-bottom-left-radius: 2px;
            }
        }
        & tr:last-of-type > td {
            &:last-of-type {
                border-bottom-right-radius: 2px;
            }
        }
    }
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 2px;
    box-shadow: map-get($shadows, 'depth-2');
    thead > tr > td,
    tbody > tr > th {
        background-color: $primary;
        text-align: left;
        font-weight: bold;
        color: white;
    }
    tr {
        &:nth-child(odd) {
            background-color: $tertiary;
        }
        td,
        th {
            padding: 0.8em;
            vertical-align: top;
        }
    }
    tfoot {
        font-size: 0.8em;
        tr {
            background-color: white !important;
            border-top: solid darken($secondary, 10) 1px;
        }
        td {
            text-align: justify;
            padding: 0 0.8em;
            color: $font-gray;
        }
        p {
            margin: 10px 0 !important;
            line-height: 1.5em;
        }
    }
}

@media (max-width: 800px) {
    table {
        position: relative;
        display: block;
        max-width: 100%;
        overflow-x: scroll;
    }
}
