@import '../colors';
@import '../variables';

.capsule-box {
    margin: ($block-margin * 2) auto;
    box-shadow: map-get($shadows, 'depth-2');
    border-radius: 2px;
    max-width: 90%;
}

.capsule-box__heading {
    color: white;
    border-radius: 2px 2px 0 0;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    background-color: $accent;
    letter-spacing: 1px;
}

.capsule-box__body {
    padding: 20px;
}

.capsule-box__body--capsule {
    font-size: 1.1em;
}
