@import 'mixins/media';

.caption__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;

    @include device-mobile {
        grid-template-columns: 1fr;
    }
}

.caption__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        margin: 0 {
            right: 10px;
        }

        @include device-mobile {
            margin: 0 10px 10px 0;
        }
    }
}

.caption__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
}
