.caption__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 5px;
}

.caption__right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    align-content: flex-end;
}

.caption__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        margin: 0 {
            right: 10px;
        }
    }
}
