@import 'mixins';

.sidebar {
    grid-area: side;
}

.sticky {
    position: relative; // progressive enhancement
    position: sticky;
}

@include device-mobile {
    .sidebar {
        display: none;
    }
}
