.about__sidebar
    min-width: 320px

.about__body
    margin-right: 20px
    max-width: 80%

.bs-docs-sidebar
    .au-nav
        list-style: none
        & > li > a
            &:focus,
            &:hover
                border: none
                padding-left: 20px
        & > li.active > a
            &:focus,
            &:hover
                border-left: solid 2px $primary
                padding-left: 18px
        .au-nav > li > a:hover
            &:focus,
            &:hover
                padding-left: 30px
        .au-nav > li.active > a:hover
            &:focus,
            &:hover
                padding-left: 28px

#magic-sidebar
    top: $header-height + $block-margin
    width: 300px

.admin-bar #magic-sidebar
    top: $admin-bar-height + $header-height + $block-margin

@media (max-width: 480px)
    .about__sidebar
        display: none
    .about__body
        margin-right: 0
        max-width: 95%
