
.btn
    noselect()
    color: $font-secondary
    background-image: none
    border: none
    border-radius: 2px
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    cursor: pointer
    display: inline-block
    font-size: 13px
    font-weight: 500
    height: 36px
    line-height: 36px
    min-width: 64px
    outline: 0
    padding: 0 16px
    text-align: center
    text-decoration: none
    text-transform: uppercase
    transition: $button-transition
    vertical-align: middle
    white-space: nowrap
    &::-moz-focus-inner
        border: 0
    &:hover
    &:focus
        box-shadow: $shadow-4dp
    &:active:hover
        box-shadow: $shadow-3dp
        background: $button-active

.btn--primary
    background: $primary
    color: white
    &:active:hover
        background: darken($primary, 5)

.btn--flat
    background: rgba(0, 0, 0, 0)
    box-shadow: none !important
    &:hover
        background: rgba(158,158,158,.2)
        &:active
            background: $button-active
    &:active
        background: lighten($button-active, 5)
        color: $dark-gray

.btn--narrow
    min-width: 32px
    padding: 0

.btn--disabled
    pointer-events: none !important
    background: $button-disabled !important
    &.btn--primary
        opacity: .6
        box-shadow: none
        color: white !important

.btn--active
    color: $primary

.btn--air-pro
    color: $airpro-primary

.btn--air
    color: $air-primary

.btn--capsules
    color: $capsules-primary
