.card
    background: white
    border-radius: 2px
    box-shadow: $shadow-2dp
    margin-bottom: $block-margin

.card__heading
    background: $primary
    border-radius: 2px 2px 0 0
    color: white
    font-size: 1.5rem
    font-weight: 500
    box-shadow: $shadow-2dp
    text-align: center
    height: 50px
    line-height: 50px
    &.category-air
        background: $air-primary
    &.category-air-pro
        background: $airpro-primary
    &.category-capsules
        background: $capsules-primary

.card__content
    border-radius: 0 0 2px 2px
    padding: 20px

.card__content--split
    display: flex
    flex-flow: row wrap-reverse
    align-items: center
    > div
        flex: auto
    > div:first-of-type
        width: 80%
    > div:last-of-type
        text-align: center
        width: 20%
        min-width: 100px

.category-air .card a
    color: $air-primary
    &:hover
        color: darken($air-primary, 10)

.category-air-pro .card a
    color: $airpro-primary
    &:hover
        color: darken($airpro-primary, 10)

.category-capsules .card a
    color: $capsules-primary
    &:hover
        color: darken($capsules-primary, 10)

@media (max-width: 400px)
    .card__heading
        font-size: 1rem
