coursebox(primarycolor)
    background: white
    box-shadow: $box-shadow
    white-space: normal
    margin: 10px
    display: inline-block
    max-width: 300px
    min-width: 300px
    .au-courseheader
        align-items: center
        box-shadow: $box-shadow
        display: flex
        height: 60px
        justify-content: flex-end
        background-color: primarycolor
        .au-timer
            padding: 0 5% 0 0
            h2
                color: white
                padding: 0
                white-space: nowrap
    .au-coursebody
        padding: 5%
        height: 300px
        display: flex
        flex-direction: column
        box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.3)
        .coursebox-flex
            display: flex:
            flex-direction: column
            justify-content: flex-start
            &:first-of-type
                justify-content: center
                max-height: 2em
                min-height: 2em
            &:nth-of-type(2)
                min-height: 20%
            &:nth-of-type(3)
                height: 110px
                min-height: 110px
                flex: auto
            &:last-of-type
                justify-content: flex-end
                align-items: flex-end
                padding-bottom: 10px
            h1
                font-weight: 300
                font-size: responsive 20px 25px
                color: $gray-dark
                padding: 0
            h3
                font-weight: 700
                font-size: 1em
                color: $font-color
                text-transform: uppercase
                padding: 0
            p
                font-weight: 300
                color: $font-color
            a
                bordered-button(medium, primarycolor)

.category-air
.tag-air
    .au-coursebox
        coursebox($air-primary)
.category-capsules
.tag-capsules
    .au-coursebox
        coursebox($capsules-primary)
.category-air-pro
.tag-air-pro
    .au-coursebox
        coursebox($airpro-primary)

@media all and (max-width: 480px)
    .au-coursebox
        max-width: 95%
