
.contact-form
    width: 75%
    margin: auto

.contact-form__row
    align-items: center
    justify-content: space-between
    display: flex
    width: 100%
    min-height: 50px

.contact-form__row_submit
    align-items: flex-start

.contact-form__item
    flex: auto
    padding: 0 5px
    &:first-of-type
        padding-left: 0
    &:last-of-type
        padding-right: 0
