$table-style(category)
    .entry-content table
        border 1px solid $gray-light
        tr:first-of-type
            if category is 'air-pro'
                background $airpro-primary
            else if category is 'air'
                background $air-primary
            else if category is 'capsules'
                background $capsules-primary
            else
                background $primary
            td
                color white
                text-align center
                *
                    font 400 1.2em "Lato"
        tr:nth-of-type(2n)
            td
                background-color #f9f9f9
        tr:nth-of-type(n + 2):hover
            td
                background-color #f3f3f3


+prefix-classes('au-')
    .container-fullwidth
        width 100%

.category-air-pro
    $table-style('air-pro')
.category-air
    $table-style('air')
.category-capsules
    $table-style('capsules')
