
// ==================================================
//                 About Page
// ==================================================

#post-1151
    .et_pb_row
        display flex

+prefix-classes('au-')
    .team-header
        height h = 300px
        background $primary
        &.air-team
            background $air-primary
        &.airpro-team
            background $airpro-primary
        &.capsules-team
            background $capsules-primary
        h1
            font 600 3em Lato
            color white
            line-height h
            text-align center
    .team-container
        display flex
        flex-wrap wrap
        justify-content space-around
        width 70%
        margin auto

    .team-member
        display flex
        flex-direction column
        max-width 250px
        margin 20px
        .photo img
            max-height 250px
            max-width 250px
            height 100%
            width 100%
            border-radius 250px
            margin-bottom 10px
        .about
            display flex
            flex-direction column
            flex auto
        .name
            display flex
            h4
                display inline-block
            div
                display inline-block
                padding-right 5px
    // Circular portraits
    .person-circle img
        border-radius 100%

// Team member headers



// ==================================================
//                 Contact Page
// ==================================================
#contact-form
    max-width 80%
    margin auto

// ==================================================
//                 User Agreement
// ==================================================
#au-terms
    max-width 80%
    margin 40px auto
    h1
        font-weight 600
        text-align center
        margin 15px 0
    h2
        font-weight 600
        margin 10px 0
    h4
        text-decoration underline
        margin-left 20px
    p, ul, ol
        margin-left 40px
        text-align justify
    p:first-of-type
        margin-left 0

// ==================================================
//                     Footer
// ==================================================
#main-footer
    display flex
    flex-flow column
    background $gray-dark
#footer-sponsors
    display flex
    .footer-sponsors-container
        background $gray-light
        padding 5px
        width 100%
        z-index 2
        display flex
        justify-content space-around
        a img
            max-height 75px
            opacity 0.5
#footer-bottom
    display flex
    padding 0
    .footer-bottom-container
        display flex
        z-index 2
        background $gray-dark
        flex auto
        justify-content space-between
        padding 0 20px
        > div
            line-height 50px
            height 50px
        #footer-social-icons
            display flex
            > div
                padding 0 5px
            a::before
                line-height 50px
        #footer-info
            padding-bottom 0

@media (max-width 480px)
    #footer-info
        display none
