$font-family = 'Roboto', sans-serif

html
    font-size: 100%

body,
input,
select,
textarea
    color: $font-primary
    font-family: $font-family
    font-size: 16px
    font-weight: 300
    line-height: 1.7

select:disabled
    opacity: 0.6
    pointer-events: none


// Headings --------------------------------------------------------------------
h1,
h2,
h3,
h4,
h5,
h6
    clear: both
    margin: 0 0 0.75em
    line-height: 1.4
    &.entry-title
        margin: 0

h1
    font-size: 1.75rem
    font-weight: 500

h2
    font-size: 1.5rem
    font-weight: 400

h3
    font-size: 1.25rem

h4
    font-weight: 500
    font-size: 1.125rem

h5
    font-size: 1rem

h6
    font-size: 0.9375rem


// Lists -----------------------------------------------------------------------
ul
    margin: 0 0 $block-margin 15px
    list-style: disc

ol
    margin: 0 0 $block-margin 25px
    counter-reset: item
    > li
        display: block
        position: relative
        &:before
            content: counter(item) '.'
            counter-increment: item
            font-weight: 500
            left: -1.5em
            position: absolute

li > ul,
li > ol
    margin-bottom: 0
    margin-left: 1.5em


// Block elements --------------------------------------------------------------
p
    margin: 0 0 1.5em
    padding: 0

hr
    background-color: #bbb // @stylint ignore
    border: 0
    height: 1px
    margin-bottom: 1.5em


// Inline elements -------------------------------------------------------------
a
    color: $accent
    font-weight: bolder
    text-decoration: none

strong
    font-weight: 500

sub, sup
    font-size: 75%
    line-height: 0
    position: relative
    vertical-align: baseline
sub
    bottom: -.25em
sup
    top: -0.5em

blockquote
    color: $font-secondary
    border-left: 4px solid $primary
    background: $tertiary
    margin: 0 0 1.5em 0
    padding: 1.5em 10px 1px 10px
    img
        display: inline-block

label
    noselect()

::selection
    background: $primary
    color: white

.wp-caption
    max-width: 100%
    background: $tertiary
    padding: 10px
    border-radius: 2px
    margin: ($block-margin * 2) 0
    color: $font-secondary
    font-style: italic
    box-shadow: $shadow-2dp
.wp-caption-text
    text-align: justify
    margin: 0 !important
    padding-top: 5px
