+prefix-classes('au-')
    .about
        display flex
        flex-flow row
        margin 10px 5%
        p
            font-weight 300
        .group
            margin 30px 0
            background $gray-light
            h3
                color white
                background $primary
                text-align center
                line-height 1.5em
                padding 0
                font-size 1.5em
            div
                padding 25px

        .subgroup
            background $gray-light
            padding 25px 20px 15px
            h4
                font-size 1.2em

    .about-nav
        margin-right 20px
        min-width 300px
        display fixed
        li
            margin-left 20px
            margin-bottom 5px
        // a
        //     color $gray-dark
        //     font-weight 600

    .about-body
        max-width 100%

#about-sidebar
    ul
        width 100%
