+prefix-classes('au-')
    .about
        display flex
        flex-flow row
        margin 10px 5%
        .group
            background yellow

        .group .subgroup
            background orange

    .about-nav
        margin-right 20px
        min-width 300px
        li
            margin-left 20px
            margin-bottom 5px
        a
            color $gray-dark
            font-weight 600

    .about-body
        max-width 100%

#about-sidebar
    ul
        width 100%
