coursebox(primarycolor)
    background white
    box-shadow $box-shadow
    flex auto
    margin 10px
    max-width 350px
    width 300px
    min-width 300px
    .au-courseheader
        align-items center
        box-shadow $box-shadow
        display flex
        height 65px
        justify-content flex-end
        background-color primarycolor
        .au-timer
            padding 0 5% 0 0
            h2
                color white
                padding 0
                white-space nowrap
    .au-coursebody
        padding 5%
        height 300px
        display flex
        flex-direction column
        .coursebox-flex
            display flex
            flex-direction column
            justify-content flex-start
            &:first-of-type
                justify-content center
                max-height 2em
                min-height 2em
            &:nth-of-type(2)
                min-height 20%
            &:nth-of-type(3)
                padding 5px 0 0 0
                flex 1
            &:last-of-type
                justify-content flex-end
                align-items flex-end
            h1
                font-weight 400
                font-size responsive 20px 30px
                color $gray-dark
                padding 0
            h3
                font-weight 700
                font-size 1em
                color $font-color
                text-transform uppercase
                padding 0
            p
                font-weight 300
                color $font-color
            a
                padding 10px 15px
                border solid primarycolor 2px
                border-radius 5px
                color primarycolor
                text-decoration none
                &:hover
                    border-color transparent
                    background-color primarycolor
                    color white
                    transition 0.1s
                    cursor pointer

.category-air .au-coursebox
    coursebox($air-primary)
.category-capsules .au-coursebox
    coursebox($capsules-primary)
.category-air-pro .au-coursebox
    coursebox($airpro-primary)

@media all and (max-width: 480px)
    .au-coursebox
        max-width 95%
