+prefix-classes('au-')
    .homepage,
    .faculty-start
        #particles
            position fixed
            height calc(100vh - 50px)
            width 100%
            background-image url('')
            background-repeat no-repeat
            background-size cover
            background-position 50% 50%
            canvas
                display block
                vertical-align bottom
        #row-1
            display flex
            margin 0 5%
            height calc(100vh - 50px)
            justify-content center
            align-items center
            .container
                position relative
                height 400px
                width 500px
        #row-2
        #row-3
            @extend .au-homepage #row-1
            height auto
            margin 10vh auto
            .container
                height auto
                width 800px

        .splash
            display flex
            height 100%
            flex-direction column
            justify-content space-between
            > div
                margin 5px 0
        .login
            display flex
            flex auto
            border-radius 3px
            align-items center
            background $gray-light
            justify-content space-around
            a
                bordered-button(large, $primary)
        .faculty
            display flex
            flex auto
            flex-flow column
            background $gray-dark
            border-radius 3px
            text-align center
            div
                position relative
                flex auto
                display flex
                justify-content center
                align-items center
                text-align center
                h1
                    color white
                a
                    bordered-button(large, white, $gray-dark)

        .learn-more
            background $primary
            display flex
            flex auto
            border-radius 3px
            text-align center
            div
                display flex
                justify-content center
                align-items center
                flex auto
                a
                    bordered-button(large, white, $primary)

        .info-card
            display flex
            flex auto
            flex-flow column
            border-radius 3px
            .info-header
                border-radius 3px 3px 0 0
                background-color $primary
                h1
                    color white
                    line-height 1.5em
                    padding 0
                    text-align center
            .info-text
                background $gray-light
                padding 15px 20px
                text-align left
                p
                    color $gray-dark
                    font-weight 300
                ol
                    list-style-position inside
                    padding 1em 0

        .series-logos
            display flex
            justify-content space-between
            div
                background $gray-light
                justify-content space-between
                max-width 200px
                margin-top 20px

    .faculty-start
        for i in 1..6
            #row-{i}
                height auto
                margin 10vh auto
                .container
                    height auto
                    width 800px
