+prefix-classes('au-')
    .homepage
    .faculty-start
        #particles
            position fixed
            height calc(100vh - 50px)
            width 100%
            background-image url('')
            background-repeat no-repeat
            background-size cover
            background-position 50% 50%
            canvas
                display block
                vertical-align bottom
        #row-1
            display flex
            margin 0 5%
            height 100vh
            padding-bottom 20vh
            justify-content center
            align-items center
            .container
                position relative
                height 400px
                width 500px

        for i in 2..6
            #row-{i}
                @extend .au-homepage #row-1
                height auto
                margin 15vh auto
                padding 0
                .container
                    height auto
                    width 800px

        .splash
            display flex
            height 100%
            flex-direction column
            justify-content space-between
            > div
                margin 5px 0
        .general
            display flex
            flex auto
            flex-flow column
            background $gray-light
            border-radius 3px
            text-align center
            padding 5px 0
            div
                position relative
                flex auto
                display flex
                justify-content center
                align-items center
                text-align center
                h1
                    color $primary
                    padding 0
                a
                    bordered-button(large, $primary)
        .faculty
            @extend .au-homepage .au-general
            background $gray-dark
            div
                h1
                    color white
                a
                    bordered-button(large, white, $gray-dark)

        .login
            background $primary
            display flex
            flex auto
            border-radius 3px
            text-align center
            div
                display flex
                justify-content center
                align-items center
                flex auto
                a
                    bordered-button(large, white, $primary)

        .info-card
            display flex
            flex auto
            flex-flow column
            border-radius 3px
            .info-header
                border-radius 3px 3px 0 0
                background-color $primary
                h1
                    color white
                    line-height 1.5em
                    padding 0
                    text-align center
            .info-text
                background $gray-light
                padding 15px 20px
                text-align left
                p
                    color $gray-dark
                    font-weight 300
                ol
                    padding 1em 0
                a
                    font-weight 600

        .series-logos
            display flex
            justify-content space-between
            div
                background $gray-light
                justify-content space-between
                max-width 200px
                margin-top 20px
