.category-air
    .au-card
        card($air-primary)

.category-capsules
    .au-card
        card($capsules-primary)

.category-air-pro
    .au-card
        card($airpro-primary)

+prefix-classes('au-')
    .links-row
        display flex
        justify-content center
        padding 0.5em 0 0.5em 0
        background $gray-dark
        a
            margin 0 10px
            color white
            &:hover
                text-decoration underline
                color white

    .year-row
        padding 0 0 40px 0
        background $gray-light
        .year
            text-align center
            padding 10px 0
            h1
                font-weight 300
                font-size 2em
                padding 0

    .course-boxes
        overflow-x scroll
        overflow-y hidden
        -webkit-overflow-scrolling touch
        white-space nowrap
        width auto
        max-height 360px
        height 360px
        align-items center
        background $gray-light
        .coursebox
            min-width 350px
            margin 10px

    .no-scroll
        flex-flow row wrap
        justify-content center
        padding 20px 30px

@media (max-width: 480px)
    card(primary-color)
        margin 0 0 20px 0
        max-width 100%
