@import 'mixins/state';
@import 'variables';

$border-radius: 3px;
$gap: 10px;

.container {
    position: relative;
    margin: 8px;
    border-radius: $border-radius;
    box-shadow: map-get($shadows, 'depth-6');
    pointer-events: all;
    background: white;

    &::before {
        content: '';
        width: $gap / 2;
        background: map-get($intent, 'danger');
        border-radius: $border-radius;
        height: 100%;
        position: absolute;
    }
}

.message {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: $gap;
    padding: $gap {
        left: $gap + 5;
    }

    &.with-icon {
        grid-template-columns: auto 1fr auto;
    }
}

.icon-container {
    display: flex;
    align-self: flex-start;
}

.content {
    display: grid;
    gap: $gap;
    font-size: 16px;
    flex: auto;
    width: 100%;
}

.heading {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
    font-family: $font-sans;
}

.actions {
    grid-column: 1 / span 2;
    display: flex;
    justify-content: flex-end;

    > button {
        margin-left: 10px;
    }
}

.dismiss {
    > button {
        padding: 4px;
        border-radius: $border-radius;
        border: 1px solid transparent;

        &:hover {
            background: rgba($black, 0.05);
        }

        &:focus {
            @include focus;
        }
    }
}
