@import 'variables';

th:hover {
    .icon {
        polygon {
            opacity: 0.5;
        }
    }
}

.icon {
    margin-left: 10px;

    polygon {
        fill: $black;
        opacity: 0.2;
    }
}

.active {
    &.asc {
        polygon:first-of-type {
            opacity: 1;
        }
    }

    &.desc {
        polygon:last-of-type {
            opacity: 1;
        }
    }
}
