# System-generated Noise
.DS_Store
.Spotlight-V100
.Trashes
._*
.apdisk
.fseventsd
.listing
Desktop.ini
Thumbs.db

# Directories
.terraform/
data/
dist/
node_modules/
wp-content/

# Files
*.backup
*.tfstate
.env
NOTES.md
npm-debug.log
