# ===== SENSITIVE DATA =====
#  DO NOT COMMIT TO GITHUB
data
.env

# ===== COPYWRITTEN FILES =====
#  DO NOT COMMIT TO GITHUB
wp-content/themes

# File system junk files
Desktop.ini
Thumbs.db
.DS_Store
._*
.Spotlight-V100
.Trashes
.apdisk
.fseventsd
.listing
npm-debug.log
.vscode

# Temporary Files
tmp

# Wordpress
wp-content

# Gulp stuff
node_modules

# Local Distribution Files
dist
