language: nodejs
node_js:
    - "6"
before_script:
    - nvm install node
    - node --version
    - npm --version
    - nvm --version
    - npm install
script:
    - npm test
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"
notifications:
    webhooks:
        urls:
            - http://104.131.189.237:5000/aliemu/hooks/travis-ci
        on_success: change
        on_failure: change
