version: '2'
services:
    wordpress:
        image: visiblevc/wordpress:0.14.0-php7.0
        ports:
            - 443:443
            - 8080:80
        volumes:
            # Database
            - ./data:/data
            # Plugins
            - ./wp-content/plugins/learndash-propanel:/app/wp-content/plugins/learndash-propanel
            - ./wp-content/plugins/sfwd-lms:/app/wp-content/plugins/sfwd-lms
            # Themes
            - ./dist/aliemu:/app/wp-content/themes/aliemu
            - ./wp-content/themes/Divi:/app/wp-content/themes/Divi
            # Uploads
            - ./wp-content/uploads:/app/wp-content/uploads
        environment:
            DB_NAME: wordpress
            SEARCH_REPLACE: https://www.aliemu.com,http://localhost:8080
            SITE_NAME: aliemu.com
            DB_PASS: root
            DB_USER: root
            PLUGINS: >-
                academic-bloggers-toolkit,
                query-monitor,
                rest-api,
                sendgrid-email-delivery-simplified,
                mce-table-buttons,
                ultimate-member,
                wpdiscuz,
                wp-smushit,
                w3-total-cache,
                [Basic-Auth]https://github.com/WP-API/Basic-Auth/archive/master.zip,
                [um-recaptcha]http://bit.ly/um-recaptcha,
                [local]sfwd-lms,
                [local]learndash-propanel,
            THEMES: >-
                [local]Divi,
                [local]aliemu,
            WP_DEBUG_LOG: 'true'
            WP_DEBUG_DISPLAY: 'true'
            WP_DEBUG: 'true'
    db:
        image: mariadb:10
        environment:
            MYSQL_ROOT_PASSWORD: root
        volumes:
            - data:/var/lib/mysql
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        environment:
            MYSQL_ROOT_PASSWORD: root
        ports:
            - 22222:80
volumes:
    data:
