@import '_colors';
@import 'mixins/contrast';
@import 'mixins/reset';
@import 'mixins/state';

@value font-size: 14px;
@value height: 36px;

.button {
    @include reset-button;

    position: relative;
    cursor: pointer;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 3px;
    color: $text-color;

    background: rgba($black, 0.1);
    padding: 0 20px;

    // exported
    font-size: font-size;
    height: height;

    &:focus {
        @include focus;
    }

    &:hover {
        background: rgba($black, 0.15);
    }

    &:active {
        background: rgba($black, 0.18);
    }

    &:disabled {
        opacity: 0.4;
        cursor: not-allowed;
    }

    span {
        white-space: nowrap;
    }

    svg {
        stroke: $black;
    }

    @each $_intent, $_color in $intent {
        &.intent-#{$_intent} {
            @include contrast-fg-color($_color);
            background: $_color;

            &:focus {
                @include focus($_color);
            }

            &:hover:not(.loading) {
                background: scale-color($_color, $lightness: -10%);
            }

            &:active:not(.loading) {
                background: scale-color($_color, $lightness: -15%);
            }

            svg {
                stroke: contrast-fg-color($_color);
            }
        }
    }

    &.loading {
        cursor: wait;

        span {
            opacity: 0;
        }
    }
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
