@import 'mixins/media';
@import 'variables';

.container {
    padding: $block-padding;
}

.form {
    display: grid;
    grid-gap: 10px;
    grid:
        'head head'
        'text text'
        'name email'
        'mesg mesg'
        '.... send';

    @include device-mobile {
        grid:
            'head'
            'text'
            'name'
            'email'
            'mesg'
            'send';
    }
}

.heading {
    grid-area: head;
    margin: 0;
    text-align: center;
}

.text {
    grid-area: text;
    margin: 0;
    text-align: center;
}

.name {
    grid-area: name;
}

.email {
    grid-area: email;
}

.message {
    grid-area: mesg;
}

.send {
    grid-area: send;
    text-align: right;
}
