@import 'mixins/state';
@import 'variables';
@import './shared';

@value padding-size: #{$padding-size};

.textarea {
    @extend .container;
    height: auto;
    overflow: auto;
    color: #424770;
    font-family: $font-mono;
    padding: $padding-size;
    resize: vertical;

    &:focus {
        @include focus;
    }
}
