@import '_colors';
@import 'mixins/state';
@import 'variables';
@import './shared';

@value padding-size: #{$padding-size};

.textarea {
    @extend .container;
    height: auto;
    overflow: auto;
    color: $text-color-forms;
    font-family: $font-sans;
    padding: $padding-size;
    resize: vertical;

    &:focus {
        @include focus;
    }
}

.progress-row {
    > div {
        margin: 5px 0 10px 0;
    }
}
