@import '../colors';

.comment_avatar {
    display: none;
}

.comment-body {
    border-bottom: solid $secondary;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.comment-content p {
    margin: 0;
}

.comment-form-comment {
    margin: 0;
}

.form-submit {
    margin: 0;
}

// Bio box
.ts-fab-avatar .avatar {
    width: 85%;
}

// ?
.ts-fab-wrapper {
    padding: 1em 0;
    clear: both;
}

// Profiles
.um-profile-body {
    max-width: 100% !important;
}

.um-icon-arrow-up-b:before {
    position: relative;
    top: -4px;
}

input[type='submit'].um-button,
input[type='submit'].um-button:focus,
a.um-button,
a.um-button.um-disabled:hover,
a.um-button.um-disabled:focus,
a.um-button.um-disabled:active {
    background: $primary !important;
}

.um-button.um-alt,
input[type='submit'].um-button.um-alt {
    color: white !important;
}

.um-profile-headericon a:hover,
.um-profile-edit-a.active {
    color: $primary !important;
}
