@import '../colors';
@import '../mixins';

#wc-comment-header {
    color: $font-secondary;
    background-color: $secondary;
    border: 1px solid darken($secondary, 5);
    text-align: center;
    font-weight: 400;
    padding: 10px;
    margin: 0 !important;
    max-width: none;
}

#wc_show_hide_loggedin_username {
    max-width: none;
}

#wpcomm {
    max-width: none;
    .wc-comment-title {
        text-align: center;
    }
    .wpdiscuz-textarea-wrap {
        border: none !important;
    }
    #wpdiscuz-subscribe-form {
        display: flex;
    }
    .wpdiscuz-subscribe-form-option {
        flex: auto;
        width: 100%;
    }
    .wpdiscuz-subscribe-form-button {
        input[type='submit'] {
            @include button($modifiers: flat);
            font-size: 1.5rem !important;
        }
    }
}

.wc-form-footer .wpd-form-row {
    display: flex;
    .wpd-form-col-left {
        display: none;
    }
    .wpd-form-col-right {
        width: 100%;
        flex: auto;
        .wc-field-submit {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0 !important;
            .wc_comm_submit {
                @include button($primary);
            }
        }
    }
}
