*
    font-family 'Lato'

#post-2
    #particles
        position fixed
        height calc(100vh - 50px)
        width 100%
        background-image url("")
        background-repeat no-repeat
        background-size cover
        background-position 50% 50%
        canvas
            display block
            vertical-align bottom

+prefix-classes('au-')
    #row-1
        display flex
        margin 0 5%
        height calc(100vh - 50px)
        justify-content center
        align-items center
        .container
            position relative
            height 400px
            width 500px
    #row-2
    #row-3
        @extend #row-1
        height 90vh
        .container
            height auto
            width 800px

    .splash
        display flex
        height 100%
        flex-direction column
        justify-content space-between
        > div
            margin 5px 0
    .login
        display flex
        flex auto
        border-radius 3px
        align-items center
        background $gray-light
        justify-content space-around
        a
            bordered-button(large, $gray-dark)
    .faculty
        display flex
        flex auto
        flex-flow column
        background $gray-dark
        border-radius 3px
        text-align center
        div
            position relative
            flex auto
            display flex
            justify-content center
            align-items center
            text-align center
            h1
                color white
            a
                bordered-button(large, white, $gray-dark)

    .learn-more
        background $primary
        display flex
        flex auto
        border-radius 3px
        text-align center
        div
            display flex
            justify-content center
            align-items center
            flex auto
            a
                bordered-button(large, white, $primary)

    .info-card
        display flex
        flex auto
        flex-flow column
        border-radius 3px
        text-align center
        .info-header
            border-radius 3px 3px 0 0
            background-color $primary
            h1
                color white
                line-height 1.5em
                padding 0
        .info-text
            background $gray-light
            padding 15px 20px
            p
                color $gray-dark
                font-weight 300

    .series-logos
        display flex
        justify-content space-between
        div
            background $gray-light
            justify-content space-between
            max-width 200px
            margin-top 20px

// ==================================================
//                    Homepage
// ==================================================


#post-171
    +prefix-classes('au-')
        .container
            margin 40px auto 10px auto
            width 70%

        .heading
            height 50px
            background $primary-air
            text-align center
            border-top-right-radius 3px
            border-top-left-radius 3px
            h1
                color white
                line-height 50px
                margin 0
        .content
            display flex
            padding 20px
            background $gray-light
            .text
                flex auto
                table
                    width 100%
                    th
                        text-align left
    .links-row
        display flex
        justify-content center
        line-height 2em
        padding 0.5em 0 1em 0
        a
            font-size 2em
            margin 0 10px
    .year-row
        min-height 50vh
        display flex
        &:nth-of-type(3)
            background $blue1
        &:nth-of-type(4)
            background $orange
        &:nth-of-type(5)
            background $primary
        .au-year
            display flex
            align-items center
            h1
                transform rotate(270deg)
                color white
                font-size 2em
    .course-boxes
        display flex
        overflow-x auto
        .au-coursebox
            min-width 350px
            margin 30px 10px



// Course Card Containers
#flex-course-list
    box-shadow $box-shadow
    .flex-course-box
        width 100%
        display flex
        flex-wrap wrap
        justify-content center


// Course Cards
.au-coursebox
    background $gray-light
    box-shadow $box-shadow
    flex auto
    margin 10px
    max-width 350px
    width 300px
    min-width 200px
    .category-capsules .coursebox-flex a
        border-color $primary-capsules
        color $primary-capsules
        &:hover
            background-color $primary-capsules
            color white
    .category-air .coursebox-flex a
        border-color $primary-air
        color $primary-air
        &:hover
            background-color: $primary-air
            color: white
    .category-airpro .coursebox-flex a
        border-color $primary-airpro
        color $primary-airpro
        &:hover
            background-color: $primary-airpro
            color: white
    .au-courseheader
        align-items center
        box-shadow $box-shadow
        display flex
        height 65px
        justify-content flex-end
        .au-timer
            padding 0 5% 0 0
            h2
                color white
                padding 0
                white-space nowrap
        &.category-capsules
            background-color $primary-capsules
        &.category-air
            background-color $primary-air
        &.category-airpro
            background-color $primary-airpro
    .au-coursebody
        padding 5%
        height 335px
        display flex
        flex-direction column
        .coursebox-flex
            display flex
            flex-direction column
            justify-content flex-start
            &:first-of-type
                justify-content center
                max-height 2em
                min-height 2em
            &:nth-of-type(2)
                min-height 20%
            &:nth-of-type(3)
                padding 5px 0 0 0
                flex 1
            &:last-of-type
                justify-content flex-end
                align-items flex-end
            h1
                font-weight 400
                font-size responsive 20px 30px
                color $gray-dark
                padding 0
            h3
                font-weight 700
                font-size 1em
                color $font-color
                text-transform uppercase
                padding 0
            p
                font-weight 300
                color $font-color
            a
                padding 10px 15px
                border solid 2px
                border-radius 5px
                text-decoration none
                &:hover
                    border-color transparent
                    transition 0.1s
                    cursor pointer
@media all and (max-width: 400px)
    .au-coursebox
        max-width 95%


// ==================================================
//                    Iframes
// ==================================================

.au-air-frame
    margin -60px 0 30px 0
    font-family Lato
    iframe
        box-shadow $box-shadow
    h2
        border-radius $card-radius
        font 700 1.5em Lato
        text-align center
        background-color $gray-dark
        color white
        padding 4px
        box-shadow $box-shadow


// ==================================================
//                 Course Index Pages
// ==================================================

.au-intro-text
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow
    overflow auto
    &.au-air-intro
        h2
            background-color $primary-air
        a
            color $primary-air
            &:hover
                color secondary($primary-air)
    &.au-air-pro-intro
        width 80%
        margin auto
        h2
            background-color $primary-airpro
        a
            color $primary-airpro
            &:hover
                color secondary($primary-airpro)
    &.au-capsules-intro
        h2
            background $primary-capsules
        a
            color $primary-capsules
            &:hover
                color secondary($primary-capsules)
    &.au-air-pro-intro
        h2
            background-color $primary-airpro
        a
            color $primary-airpro
            &:hover
                color secondary($primary-airpro)
    h2
        color white
        text-align center
        font-weight 900
        font-size responsive 20px 30px
        padding 10px
        border-radius $card-radius
        box-shadow $box-shadow
    p
        padding 30px !important
        line-height 1.3
        letter-spacing 0.7px
        text-align justify
    // Don't float images on small screens
    @media (max-width 500px)
        img
            display block
            float none
            margin auto
            margin-bottom 20px

    // FIXME: Adjust the image itself, rather than this
    .au-air-intro-logo
        margin-bottom 15px
        margin-top 0



// Container for course cards on course pages
.course-list-container
    display flex
    // Changed back to "wrap" after issue filed by mlin
    flex-wrap wrap
    justify-content center


// Lesson box -- Used in CAPSULES. Like .au-capsule, but allows the
// author to choose the heading
.lesson-box
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow
    // FIXME: fix this shortcode so that it uses h2, rather than header
    header
    h2
        border-radius $card-radius
        box-shadow $box-shadow
        color white
        font 600 1.25em Lato
        margin 0
        padding 10px
        text-align center
        background-color $primary-capsules
    .lesson-body
        line-height 1.3
        letter-spacing 0.5px
        h3
            font-weight 700
            font-size 1.5em
            text-align center
            background-color $gray-dark
            color white
            padding 4px
            margin-bottom 5px
        p, ul
            font-weight 400
            padding 10px


// CAPSULE box
.au-capsule
    @extend .lesson-box
    h2
        @extend .lesson-box h2
        letter-spacing 1px
        font-weight 600
        background-color $primary-capsules
    h4
        border-top 0
        font-weight 400
        letter-spacing 1px
        line-height 1.3em
        padding 30px
        text-align center

.take-home-point
    @extend .au-capsule


// ==================================================
//                 About Page
// ==================================================

#post-1151
    .et_pb_row
        display flex

+prefix-classes('au-')
    .team-container
        display flex
        flex-wrap wrap
        justify-content space-around
        width 70%
        margin auto

    .team-member
        display flex
        flex-direction column
        max-width 250px
        margin 20px
        .photo img
            height 250px
            border-radius 250px
            margin-bottom 10px
        .about
            display flex
            flex-direction column
            flex auto
        .name
            display flex
            h4
                display inline-block
            div
                display inline-block
                padding-right 5px


// Circular portraits
.au-person-circle img
    border-radius 100%

// Team member headers
.au-team-header h1
    font 600 3em Lato

.au-team-header
    background-color $gray-dark
.et_pb_member_position
    color $font-color

.et_pb_section_0
.et_pb_section_2
.et_pb_section_4
    &.et_pb_section.au-about-header
        background-color $primary !important

// Sponsors

// ==================================================
//                 Contact Page
// ==================================================
#contact-form
    max-width 80%
    margin auto

// ==================================================
//                 User Agreement
// ==================================================
#au-terms
    max-width 80%
    margin 40px auto
    h1
        font-weight 600
        text-align center
        margin 15px 0
    h2
        font-weight 600
        margin 10px 0
    h4
        text-decoration underline
        margin-left 20px
    p, ul, ol
        margin-left 40px
        text-align justify
    p:first-of-type
        margin-left 0

// ==================================================
//                    Dashboards
// ==================================================

$pager-btn
    width 1.5em
    height 1.5em
    line-height 1.5em
    text-align center
    cursor pointer
    border 1px solid $primary
    border-radius 2px
    color $primary
    background white
    margin 5px 2px
    user-select none
    &:hover
        border-color $secondary
        box-shadow 0 0 .2em rgba(0,0,0,0.2)
    &:active
        box-shadow inset 0 0 1em rgba(0,0,0,0.1)

$export-btn
    padding 10px 0
    font-size 0.9em
    white-space nowrap
    color white
    padding 5px 30px
    max-width 300px
    background $primary
    user-select none
    margin-left 9px
    &:hover
        cursor pointer
        background $secondary


+prefix-classes('au-edudash-')
    .shadowbox
        background white
        box-shadow $box-shadow
        box-sizing border-box
        margin-bottom 30px
        h1
            background $primary
            color white
            text-align center
            padding 10px
            font 600 1.5em Lato
        h2
            font-size 1.1em
            background $gray-dark
            color white
            text-align center
            padding 5px 0
            width 100%

    .exportbtn
        @extend $export-btn
    .exportbtn-disabled
        @extend $export-btn
        opacity 0.5
        pointer-events none

    .pager
        display flex
        justify-content flex-end
        flex-wrap wrap
        padding 2.5px
        .pager-btn
            @extend $pager-btn
        .pager-btn-active
            @extend $pager-btn
            color white
            background $primary

// Footer
#main-footer
    display flex
    flex-flow column
    background $gray-dark
#footer-sponsors
    display flex
    .footer-sponsors-container
        background $gray-light
        padding 5px
        width 100%
        z-index 2
        display flex
        justify-content space-around
        a img
            max-height 75px
            mix-blend-mode luminosity
#footer-bottom
    display flex
    padding 0
    .footer-bottom-container
        display flex
        z-index 2
        background $gray-dark
        flex auto
        justify-content space-between
        padding 0 20px
        > div
            line-height 50px
            height 50px
        #footer-social-icons
            display flex
            > div
                padding 0 5px
            a::before
                line-height 50px
        #footer-info
            padding-bottom 0

@media (max-width 480px)
    #footer-info
        display none
    #post-171
        +prefix-classes('au-')
            .container
                width 100%
        .year-row
            flex-direction column
            .au-year
                justify-content center
                margin-bottom -25px
                h1
                    transform none
                    padding-top 10px
        .course-boxes
            margin 0 0 30px
            padding-top -20px
