
// ==================================================
//                    Homepage
// ==================================================

.au-homepage-courselisting-introtext
    background-color $gray-dark
    padding 15px 5px !important
    border-radius $card-radius
    h1
        color white
        font 700 2em Lato
        text-align center

#au-index-welcometext
    display flex
    flex-wrap wrap
    padding 10px
    box-shadow $box-shadow
    .et_pb_column
        width 100%
        padding 10px
        margin 0
        p
            text-align justify
    .et_pb_column_1
        flex 1
        width 75%
    .et_pb_column_2
        width 25%
        #login-container-flex
            height 100%
            display flex
            flex-wrap wrap
            justify-content center
            .login-button-flex
                display flex
                min-width 125px
                max-width 150px
                padding 5px
                align-items center
                flex 1
                a
                    font-weight 700
                    line-height 3em
                    font-size 1.5em
                    flex 1
                    text-align center
                    border solid 2px
                    border-radius 5px
                    color $gray-dark
                    background transparent
                    &:hover
                        color white
                        background-color $gray-dark
                        border-color $gray-dark
                        transition 0.1s



// Course Card Containers
#flex-course-list
    box-shadow $box-shadow
    .flex-course-box
        width 100%
        display flex
        flex-wrap wrap
        justify-content center


// Course Cards
.au-coursebox
    background $gray-light
    box-shadow $box-shadow
    flex auto
    margin 10px
    max-width 350px
    width 300px
    min-width 200px
    .category-capsules .coursebox-flex a
        border-color $primary-capsules
        color $primary-capsules
        &:hover
            background-color $primary-capsules
            color white
    .category-air .coursebox-flex a
        border-color $primary-air
        color $primary-air
        &:hover
            background-color: $primary-air
            color: white
    .au-courseheader
        align-items center
        box-shadow $box-shadow
        display flex
        height 65px
        justify-content flex-end
        .au-timer
            padding 0 5% 0 0
            h2
                color white
                padding 0
                white-space nowrap
        &.category-capsules
            background-color $primary-capsules
        &.category-air
            background-color $primary-air
    .au-coursebody
        padding 5%
        height 335px
        display flex
        flex-direction column
        .coursebox-flex
            display flex
            flex-direction column
            justify-content flex-start
            &:first-of-type
                justify-content center
                max-height 2em
                min-height 2em
            &:nth-of-type(2)
                min-height 20%
            &:nth-of-type(3)
                padding 5px 0 0 0
                flex 1
            &:last-of-type
                justify-content flex-end
                align-items flex-end
            h1
                font-weight 400
                font-size responsive 20px 30px
                color $gray-dark
                padding 0
            h3
                font-weight 700
                font-size 1em
                color $font-color
                text-transform uppercase
                padding 0
            p
                font-weight 300
                color $font-color
            a
                padding 10px 15px
                border solid 2px
                border-radius 5px
                text-decoration none
                width 120px
                &:hover
                    border-color transparent
                    transition 0.1s
                    cursor pointer
@media all and (max-width: 400px)
    .au-coursebox
        max-width 95%


// ==================================================
//                    Iframes
// ==================================================

.au-air-frame
    margin -60px 0 30px 0
    font-family Lato
    iframe
        box-shadow $box-shadow
    h2
        border-radius $card-radius
        font 700 1.5em Lato
        text-align center
        background-color $gray-dark
        color white
        padding 4px
        box-shadow $box-shadow


// ==================================================
//                 Course Index Pages
// ==================================================

.au-intro-text
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow
    overflow auto
    &.au-air-intro
        h2
            background-color $primary-air
        a
            color $primary-air
            &:hover
                color secondary($primary-air)
    &.au-capsules-intro
        h2
            background $primary-capsules
        a
            color $primary-capsules
            &:hover
                color secondary($primary-capsules)
    h2
        color white
        text-align center
        font-weight 900
        font-size responsive 20px 30px
        padding 10px
        border-radius $card-radius
        box-shadow $box-shadow
    p
        padding 30px !important
        line-height 1.3
        letter-spacing 0.7px
        text-align justify
    // Don't float images on small screens
    @media (max-width 500px)
        img
            display block
            float none
            margin auto
            margin-bottom 20px

    // FIXME: Adjust the image itself, rather than this
    .au-air-intro-logo
        margin-bottom 15px
        margin-top 0



// Container for course cards on course pages
.course-list-container
    display flex
    flex-wrap wrap-reverse
    justify-content center


// Lesson box -- Used in CAPSULES. Like .au-capsule, but allows the
// author to choose the heading
.lesson-box
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow
    // FIXME: fix this shortcode so that it uses h2, rather than header
    header
    h2
        border-radius $card-radius
        box-shadow $box-shadow
        color white
        font 600 1.25em Lato
        margin 0
        padding 10px
        text-align center
        background-color $primary-capsules
    .lesson-body
        line-height 1.3
        letter-spacing 0.5px
        padding 20px
        h3
            font-weight 700
            font-size 1.5em
            text-align center
            background-color $gray-dark
            color white
            padding 4px
        ul
            margin-top 0.3em
        p
        ul li
            font-weight 400
            padding 0 10px


// CAPSULE box
.au-capsule
    @extend .lesson-box
    h2
        @extend .lesson-box h2
        letter-spacing 1px
        font-weight 900
        background-color $primary-capsules
    h4
        border-top 0
        font-weight 400
        letter-spacing 1px
        line-height 1.3em
        padding 30px
        text-align center


// ==================================================
//                 About Page
// ==================================================

#post-1151
    .et_pb_row
        display flex

+prefix-classes('au-')
    .team-container
        display flex
        flex-wrap wrap
        justify-content space-around
        width 70%
        margin auto

    .team-member
        display flex
        flex-direction column
        max-width 250px
        margin 20px
        .photo img
            height 250px
            border-radius 250px
            margin-bottom 10px
        .about
            display flex
            flex-direction column
            flex auto
        .name
            display flex
            h4
                display inline-block
            div
                display inline-block
                padding-right 5px


// Circular portraits
.au-person-circle img
    border-radius 100%

// Team member headers
.au-team-header h1
    font 600 3em Lato

.au-team-header
    background-color $gray-dark
.et_pb_member_position
    color $font-color

.et_pb_section_0
.et_pb_section_2
.et_pb_section_4
    &.et_pb_section.au-about-header
        background-color $primary !important

// Sponsors
.au-sponsors
    background $gray-light
    display flex
    justify-content center
    div
        align-self center
        padding 20px
    a img
        max-height 150px
        mix-blend-mode multiply

// ==================================================
//                 Contact Page
// ==================================================
#contact-form
    max-width 80%
    margin auto

// ==================================================
//                 User Agreement
// ==================================================
#au-terms
    max-width 80%
    margin 40px auto
    h1
        font-weight 600
        text-align center
        margin 15px 0
    h2
        font-weight 600
        margin 10px 0
    h4
        text-decoration underline
        margin-left 20px
    p, ul, ol
        margin-left 40px
        text-align justify
    p:first-of-type
        margin-left 0

// ==================================================
//                    Dashboards
// ==================================================

$pager-btn
    width 1.5em
    height 1.5em
    line-height 1.5em
    text-align center
    cursor pointer
    border 1px solid $primary
    border-radius 2px
    color $primary
    background white
    margin 5px 2px
    user-select none
    &:hover
        border-color $secondary
        box-shadow 0 0 .2em rgba(0,0,0,0.2)
    &:active
        box-shadow inset 0 0 1em rgba(0,0,0,0.1)

$export-btn
    padding 10px 0
    font-size 0.9em
    white-space nowrap
    color white
    padding 5px 30px
    max-width 300px
    background $primary
    user-select none
    &:hover
        cursor pointer
        background $secondary


+prefix-classes('au-edudash-')
    .shadowbox
        background white
        box-shadow $box-shadow
        box-sizing border-box
        margin-bottom 30px
        h1
            background $primary
            color white
            text-align center
            padding 10px
            font 600 1.5em Lato
        h2
            font-size 1.1em
            background $gray-dark
            color white
            text-align center
            padding 5px 0
            width 100%

    .exportbtn
        @extend $export-btn
    .exportbtn-disabled
        @extend $export-btn
        opacity 0.5
        pointer-events none

    .pager
        display flex
        justify-content flex-end
        flex-wrap wrap
        padding 2.5px
        .pager-btn
            @extend $pager-btn
        .pager-btn-active
            @extend $pager-btn
            color white
            background $primary
