
// ==================================================
//                    Homepage
// ==================================================

// Course Card Containers
#flex-course-list
    display flex
    flex-wrap wrap
    margin 0
    min-width 100%
    overflow hidden
    padding 10px

    .et_pb_column
        display flex

    .et_pb_module
        display flex
        flex-wrap wrap
        justify-content center
        width 100%


// Course Cards
.au-coursebox
    background $light-gray
    box-shadow $box-shadow
    display flex
    flex 1
    flex-direction column
    height 400px
    margin 10px
    max-width 350px
    min-width 300px

    .category-capsules .coursebox-flex a
        border-color $blue-capsules
        color $blue-capsules

        &:hover
            background-color $blue-capsules
            color white

    .category-air .coursebox-flex a
        border-color $red
        color $red

        &:hover
            background-color: $red
            color: white

    .au-courseheader
        align-items center
        box-shadow $box-shadow
        color white
        display flex
        height 65px
        justify-content flex-end

        .au-timer
            padding 0 5% 0 0
            width 100%
            text-align right

            h2
                color white
                padding 0
                white-space nowrap

        &.category-capsules
            background-color $blue-capsules

        &.category-air
            background-color $red

    .au-coursebody
        padding 5%
        height 335px
        display flex
        justify-content flex-start
        flex-direction column

        .coursebox-flex
            display flex
            flex 1
            flex-direction column
            justify-content center

            &:first-of-type
                justify-content: center
                max-height 2em
                min-height 2em

            &:nth-of-type(2)
                justify-content flex-start
                height 25%

            &:nth-of-type(3)
                height 25%
                justify-content flex-start

            &:last-of-type
                justify-content flex-end
                align-items flex-end

            h1
                font-weight 400
                font-size responsive 20px 30px
                background none
                color $dark-gray
                padding 0

            h3
                font-weight 700
                font-size 1em
                color $font-color
                text-transform uppercase
                padding 0

            p
                font-weight 300
                color $font-color

            a
                padding 10px 15px
                border solid 2px
                border-radius 5px
                text-decoration none
                width 120px

                &:hover
                    color white
                    transition 0.1s
                    cursor pointer


#au-index-welcometext
    min-width 100%
    margin 0
    display flex
    flex-wrap wrap
    overflow hidden
    padding 10px

    .et_pb_column
        margin 0
        display flex
        justify-content space-around
        width 100%
        padding 10px

        #au-login-card
            display flex

        #au-login-text
            display flex
            flex 1
            flex-direction column
            justify-content center

    .et_pb_column_1
        width 75%
        max-width 100%

    .et_pb_column_2
        width 25%
        max-width 100%


#login-container-flex
    display flex
    flex-wrap wrap
    width 100%
    justify-content center

    .login-button-flex
        display flex
        min-width 125px
        max-width 150px
        padding 5px
        justify-content center
        align-items center
        flex 1

        a
            font-weight 700
            line-height 3em
            font-size 1.5em
            flex 1
            text-align center
            border solid 2px
            border-radius 5px
            color $dark-gray
            background transparent

            &:hover
                color white
                background-color $dark-gray
                transition 0.1s


.au-homepage-courselisting
    margin 5%
    border-radius $card-radius
    box-shadow $box-shadow
    overflow auto
    padding 0 !important


.au-homepage-courselisting-introtext
    background-color $dark-gray
    margin 0 !important
    width 100% !important
    max-width 100% !important
    padding 15px 5px

    h1
        color white
        font 700 2em Lato
        text-align center



// ==================================================
//                    Iframes
// ==================================================

.au-air-frame
    margin -60px 0 30px 0
    font-family Lato

    iframe
        box-shadow $box-shadow

    h2
        border-radius $card-radius
        font 700 1.5em Lato
        text-align center
        background-color $dark-gray
        color white
        padding 4px
        box-shadow $box-shadow


#left-area ul.badgeos-achievement-earners-list
    list-style none
    margin 0
    padding 0



// ==================================================
//                 Course Items
// ==================================================

// Container for course cards on course pages
.course-list-container
    display flex
    flex-wrap wrap
    justify-content center


.au-intro-text
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow
    overflow auto

    h2
        color white
        text-align center
        font-weight 900
        padding 10px
        margin 0
        border-radius $card-radius
        box-shadow $box-shadow

    p
        border-top 0
        font-weight 400
        padding 30px !important
        line-height 1.3
        letter-spacing 0.7px


.au-air-intro h2
    background-color $red


.au-capsules-intro h2
    background $blue-capsules


.au-air-intro-logo
    margin-bottom 15px
    margin-top 0

// Lesson box -- Used in CAPSULES. Like .au-capsule, but allows the
// author to choose the heading
.lesson-box
    font-family Lato
    border 0
    margin 10px 0 30px
    border-radius $card-radius
    box-shadow $box-shadow

    h2
        border-radius $card-radius
        box-shadow $box-shadow
        color white
        font 600 1.25em Lato
        margin 0
        padding 10px
        text-align center
        background-color $blue-capsules

    a
        color white

// CAPSULE box
.au-capsule
    @extend .lesson-box

    h2
        @extend .lesson-box h2
        letter-spacing 1px
        font-weight 900
        background-color $blue-capsules

    h4
        border-top 0
        font-weight 400
        letter-spacing 1px
        line-height 1.3em
        padding 30px
        text-align center


.lesson-body
    line-height 1.3
    letter-spacing 0.5px
    padding 20px

    h3
        font-weight 700
        font-size 1.5em
        text-align center
        background-color $dark-gray
        color white
        padding 4px

    ul
        margin-top 0.3em

    p,
    ul li
        font-weight 400
        padding 0 10px



// ==================================================
//                    Dashboards
// ==================================================

.au-edudash-shadowbox
    background white
    box-shadow $box-shadow
    box-sizing border-box
    margin-bottom 30px

    h1
        background $blue
        color white
        text-align center
        padding 10px
        font 600 1.5em Lato

    h2
        font-size 1.1em
        background $dark-gray
        color white
        text-align center
        padding 5px 0
        width 100%


// NOTE: Not currently in use
.au-edudash-exportbtn
    padding 10px 0
    align-self center
    font-size 0.9em
    white-space nowrap

    input
        color white
        padding 5px 30px
        max-width 300px
        background $blue
        height 20px
        border 0

        &:hover
            cursor pointer


// Datepicker NOTE: will be depreciating soon (not in use)
#ui-datepicker-div
    background white
    box-shadow 1px 2px 5px 1px rgba(0, 0, 0, 0.3)

    tbody
        text-align center

    td
        padding 4px 8px

        &:hover
            background-color $light-gray

    .ui-state-default
        color grey

    .ui-datepicker-unselectable:hover
        background-color white


.ui-datepicker-header
    display flex
    justify-content center
    align-items center
    background-color $dark-gray
    flex auto
    text-align center


.ui-datepicker-next,
.ui-datepicker-prev
    color white
    background-color $dark-gray
    cursor pointer
    flex auto
    text-align center

    &:hover
        color $blue
        transition 0.2s


.ui-datepicker-prev
    order 1


.ui-datepicker-next
    order 3


.ui-datepicker-title
    color white
    order 2
    cursor default



// ==================================================
//                  Miscellaneous
// ==================================================

// Circular portraits
.au-person-circle img
    border-radius 100%


// Team member headers
.au-team-header h1
    font-family Lato
    font-weight 600
    font-size 3em



// ==================================================
//                  Media Queries
// ==================================================

@media (max-width: 400px)
    .au-coursebox
        min-width 100%
        margin 5px
