
// Used for the headings of the card-type lesson/quiz lists
$ld-list-heading
    color white
    border-radius $card-radius
    padding 1% 2%
    font 400 1.5em Lato
    margin 0

// Common button style
$ld-button
    border-radius 3px
    color white
    font 1em Lato
    padding 9px 23px
    text-decoration none !important

/**
 * Mixin to allow quick style settings of new series in the future
 * @param  {hex} colorvar A color variable from 'colors.styl' file
 */
series-common(colorvar)
    h1
        color white
        padding 15px 10px
        font 700 2em Lato
        border-radius $card-radius
        background colorvar
    h3
        text-align center
        margin-bottom 0.5em
        padding 10px
    a
        color colorvar !important
    table tr th
        background colorvar
        color white
        a
            color white !important
    #learndash_lesson_topics_list div strong
    #lesson_heading
    #quiz_heading
        @extend $ld-list-heading
        background colorvar
    #learndash_next_prev_link a
    .wc-field-submit input[type='button']
        @extend $ld-button
        background colorvar
        &:hover
            background darken(colorvar, 20%)
    #learndash_course_certificate
        a
            color white !important


// Lessons
#content-area

    // Applies to any unordered list in posts
    .entry-content li
        margin-left 20px

    // "Module Content" box
    #learndash_course_content
        margin 20px 0

    // Author and logged in user details (below title and above comments)
    .post-meta
    #wc_show_hide_loggedin_username
        font 300 1em Lato
        padding 10px
        color $font-color

    // Next/Prev buttons
    #learndash_next_prev_link
        display flex
        justify-content space-between

    // Lesson Topics List
    #learndash_lesson_topics_list div
        ul
            padding 0
            .topic_item
                a
                    padding 10px
                    span
                        margin 0
                        font 300 1.25em Lato
                        color $font-color
                        line-height 1.8em

    #lessons_list
    #quiz_list
    #course_list
        .list-count, .list_arrow
            font 300 1.5em Lato
            color $font-color
        h4
            padding 0
            a
                font 300 1em Lato
                color $font-color
                padding 20px
                &:hover
                    background-color $gray-light !important
                &.completed
                    background url('/wp-content/uploads/2016/06/completed.png') no-repeat
                    background-size 30px
                    background-position 98% center
                &.notcompleted
                    background url('/wp-content/uploads/2016/06/notcompleted.png') no-repeat
                    background-size 30px
                    background-position 98% center
    @media (max-width 480px)
        #lessons_list
        #quiz_list
        #course_list
            .list-count
            .list-arrow
                padding 3px
            h4 a
                padding 10px 30px 10px 2%

    .category-air
    .tag-air
        series-common($air-primary)

    .category-capsules
    .tag-capsules
        series-common($capsules-primary)

    .category-air-pro
    .tag-air-pro
        series-common($airpro-primary)


// Profile
#learndash_profile
    .learndash_profile_heading
        @extend $ld-list-heading
        background $primary
    a
        color $primary
    .list_arrow
        cursor pointer


// Sidebar
#sidebar
    .widgettitle
        background $gray-dark
        color white
        text-align center
        padding 5px
        border-radius $card-radius

// Progress bar
dd.course_progress div.course_progress_blue
    background-color $primary

// "Mark Complete" Button
#sfwd-mark-complete
    text-align center
    input[type='submit']
        bordered-button(large)
