// Lessons

$lesson-heading
    color white
    border-radius $card-radius
    padding 1% 2%
    font 400 1.25em Lato
    margin 0

#content-area
    .sfwd-courses,
    .sfwd-lessons,
    .sfwd-quiz,
    .sfwd-topic
        &.category-air
            $base = selector()
            h1
                color white
                padding 15px 10px
                font-family Lato
                font-weight 700
                text-align left
                border-radius $card-radius
                background $red !important
            h3
                color white
                text-align center
                padding 8px 0 0 0
                margin-bottom 0.5em
                border-radius $card-radius
                background $red !important
            #lesson_heading
                @extend $lesson-heading
                background $red
        &.category-capsules
            h1
                @extend #content-area .sfwd-courses.category-air h1
                background $blue-capsules
            h3
                @extend #content-area .sfwd-courses.category-air h3
                background $blue-capsules
            #lesson_heading
                @extend $lesson-heading
                background $blue-capsules


// Author details
#left-area .post-meta,
#wc_show_hide_loggedin_username
    font 300 1em Lato
    padding 10px
    color $font-color


// FIXME: not sure what this is
#left-area li
    margin-left 20px


// Join button FIXME: is this still used?
#btn-join
    width 100%


// Lessons, topics, and quiz lists FIXME: dont think this works
#learndash_lesson_topics_list div > strong,
#lessons_list,
#quiz_list
    font 300 1.5em Lato


#course_list h4 a,
#lessons_list a,
#quiz_list a,
.learndash_topic_dots a > span
    font-family Lato !important
    color black !important
    font-weight 300 !important
    font-size 1rem !important

.learndash_profile_heading
    @extend $lesson-heading
    background $blue


// Completed Lessons
#learndash_profile .completed,
.learndash .completed
    background url("../../images/completed.png") no-repeat
    display block
    line-height 53px
    background-position 97.9% center
    padding-left 2% !important
    padding-right 15% !important


// Incomplete Lessons
#learndash_profile .notcompleted,
.learndash .notcompleted
    background url("../../images/notcompleted.png") no-repeat
    display block
    line-height 53px
    background-position 97.9% center
    padding-left 2% !important
    padding-right 15% !important


// LearnDash join button FIXME: Is this used?
.learndash_join_button
    margin-bottom 20px


// Quizzes
.wpProQuiz_answerCorrect
    background $green-correct !important
    font-weight bold !important
    color white


.wpProQuiz_answerIncorrect
    background $red-incorrect !important
    font-weight bold !important
    color white


.wpProQuiz_questionList
    background $light-gray !important
    border 1px solid $blue !important


.wpProQuiz_tipp > div
    padding 10px !important
    background-color $light-gray !important
    border 1px dotted $blue !important
    border-radius 10px !important
    position absolute !important
    bottom 5px !important
    left 5px !important
    right 5px !important
    box-shadow $box-shadow !important
    z-index 99999 !important


.wpProQuiz_button
    background transparent !important
    border-radius 3px !important
    border 1px solid $blue !important
    box-shadow 0 0 0 !important
    color $blue !important
    font 1em Lato
    line-height 20px
    transition-duration 0.1s

    &:active, &:focus, &:hover
        background-color $blue !important
        color white !important
        cursor pointer
        border-radius 3px !important
        border 1px solid $blue !important
        box-shadow 0 0 0 !important


.ld_course_grid
    margin-bottom 20px

    .entry-content
        margin-bottom 10px
        padding 0


// Buttons
#learndash_next_prev_link > a,
/*#sfwd-mark-complete > input[type="submit"]:nth-child(2),*/
#wpcomm .wc-field-submit input[type='button'],
a#quiz_continue_link
    background-color $blue
    border-radius 3px
    color white
    font 1em Lato
    padding 9px 23px
    text-decoration none !important

    &:hover
        background-color $blue-hover


// Course Progress FIXME: Is this a button?
#ldcourseprogress-2 > h4
    background $blue
    color white
    text-align center
    padding 5px
    border-radius $card-radius

// FIXME: Is this still used?
input#btn-join
    margin 20px 0 0
    cursor pointer

    &:hover
        box-shadow 1px 1px 1px 1px rgba(255, 0, 0, 0.2)


// FIXME: Is this a button?
#learndash_course_content
    margin 20px 0


// Course dashboards
#learndash_profile
    margin-top 20px

    div.profile_info.clear_both,
    div:nth-child(2)
        display none !important
