// ================== Tablepress ==================

.tablepress-table-name
    font 600 1em Lato
    text-align center


.tablepress
    thead th
        color white
        font 400 1.2em Lato
        text-align center
        background $primary
    tfoot th
        @extend .tablepress thead th
        font-size 0.8em
        text-align left
        a
            color white

.category-capsules
    .tablepress
        thead th,
        tfoot th
            background-color $capsules-primary

.category-air
    .tablepress
        thead th,
        tfoot th
            background-color $air-primary

.category-air-pro
    .tablepress
        thead th,
        tfoot th
            background-color $airpro-primary


#content-area .au-table-needsborders td
    border 1px solid $gray-light
    text-align center
    vertical-align middle



// ================== Ultimate Member ==================

img.um-avatar
    border-radius 100px
    width 25px
    position relative
    top 7px
    margin-left 8px

// Comments
.category-capsules
    #wc-comment-header
        background-color $capsules-primary
.category-air
    #wc-comment-header
        background-color $air-primary
.category-air-pro
    #wc-comment-header
        background-color $airpro-primary

#wc-comment-header
    color white
    background-color $primary
    text-align center
    font-weight 400
    padding 10px
    margin-top 40px
    border-radius $card-radius


// Bio box
.ts-fab-avatar .avatar
    width 85%

// ?
.ts-fab-wrapper
    padding 1em 0
    clear both


// Profiles
.um-profile-body
    max-width 100% !important

input[type=submit].um-button
input[type=submit].um-button:focus
a.um-button
a.um-button.um-disabled:hover
a.um-button.um-disabled:focus
a.um-button.um-disabled:active
    background $primary !important

.um-button.um-alt
input[type=submit].um-button.um-alt
    color white !important

.um-profile-headericon a:hover
.um-profile-edit-a.active
    color $primary !important


// ================== WpProQuiz ==================


.category-air
    .wpProQuiz_button
        bordered-button(small, $air-primary)

.category-capsules
    .wpProQuiz_button
        bordered-button(small, $capsules-primary)

.category-air-pro
    .wpProQuiz_button
        bordered-button(small, $airpro-primary)

.quiz_continue_link
    order 1
    a#quiz_continue_link
        bordered-button(small)
        color $primary !important
        transition .1s !important
        &:hover
            color white !important
            transition .1s !important

+prefix-classes('wpProQuiz_')
    .answerCorrect
        background $green-correct
        font-weight bold
        color white

    .answerIncorrect
        background $red-incorrect
        font-weight bold
        color white

    .list
        padding-bottom 0 !important
        .questionList
            background $gray-light
            border-radius 3px
            padding 20px !important
            margin 10px 0
            .questionListItem
                list-style none
                .questionInput
                    line-height 26px
                    margin-left -20px
                    vertical-align text-top

    .results > div:last-of-type
        display flex
        justify-content space-between
        align-items center

    .certificate
        text-align center

    .resultsList
    .quiz_time
    .time_limit_expired
    .points
    .graded_points
        display none




// I think this is for tooltips?
.tipp > div
    padding 10px
    background-color $gray-light
    border 1px dotted $primary
    border-radius 10px
    position absolute
    bottom 5px
    left 5px
    right 5px
    box-shadow $box-shadow
    z-index 99999
