// ================== Tablepress ==================

.tablepress-table-name
    font 600 1em Lato
    text-align center


.category-capsules .tablepress thead th
    color white
    font 600 1.2em Lato
    text-align center
    background-color $blue-capsules


.category-air .tablepress thead th
    @extend .category-capsules .tablepress thead th
    background-color $red-air


#content-area .au-table-needsborders td
    border 1px solid $gray-light
    text-align center
    vertical-align middle



// ================== Ultimate Member ==================

img.um-avatar
    border-radius 100px
    width 25px
    position relative
    top 7px
    margin-left 8px

// Comments
#wc-comment-header
    color white
    background-color $primary
    text-align center
    font-weight 400
    padding 10px
    margin-top 40px
    border-radius $card-radius


// Bio box
.ts-fab-avatar .avatar
    width 85%

// ?
.ts-fab-wrapper
    padding 1em 0
    clear both


// Profiles
.um-profile-body
    max-width 100% !important



// ================== WpProQuiz ==================


.category-air
    .wpProQuiz_button
        bordered-button small $red-air

.category-capsules
    .wpProQuiz_button
        bordered-button small $blue-capsules

+prefix-classes('wpProQuiz_')
    .answerCorrect
        background $green-correct
        font-weight bold
        color white

    .answerIncorrect
        background $red-incorrect
        font-weight bold
        color white

    .list
        padding-bottom 0 !important
        .questionList
            background $gray-light
            border-radius 3px
            padding 20px !important
            margin 10px 0
            .questionListItem
                list-style none
                margin-left 0 !important
                .questionInput
                    line-height 26px
                    vertical-align text-top




// I think this is for tooltips?
.tipp > div
    padding 10px
    background-color $gray-light
    border 1px dotted $primary
    border-radius 10px
    position absolute
    bottom 5px
    left 5px
    right 5px
    box-shadow $box-shadow
    z-index 99999
