@import './dashboard';

.heading {
    @extend %container-outer;
    background: $secondary;
    color: white;

    h1 {
        margin: 0;
        font-family: $font-sans;
    }
}

.heading-container {
    @extend %container-inner;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin: 10px 0;
}

.institution {
    opacity: 0.5;
    font-weight: 500;
}

.institution-btn {
    a {
        opacity: 0.5;
    }
}
