@import 'variables';
@import 'mixins/media';
@import './dashboard';

.header {
    @extend %container-outer;
    background: $primary;
    color: white;

    h1 {
        margin: 0;
        font-family: $font-sans;
    }
}

.header-container {
    @extend %container-inner;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    margin: 10px $block-margin;

    button {
        margin: 10px 0;
    }

    @include device-mobile {
        > div {
            margin: auto;
        }

        > button {
            margin: 10px auto;
        }
    }
}

.institution {
    opacity: 0.5;
    font-weight: 500;
}

.institution-btn {
    opacity: 0.5;
}

.institution-input {
    height: 28px;
}

.edit-profile-form {
    width: 100vw;
    max-width: 500px;
    padding: 20px;

    label {
        display: block;
        margin: 10px 0;
    }

    > div {
        text-align: right;
    }
}
