| <?php $assets = get_stylesheet_directory_uri() . '/assets' ?>
if !is_page_template('page-template-blank.php')
    footer#main-footer
        - get_sidebar('footer')
        #footer-sponsors
            .footer-sponsors-container
                a(href="http://www.cordem.org/" target="_blank") #[img(src="#{assets}/cord-logo-small.svg", alt="CORD")]
                a(href="http://www.theteachingcourse.com/" target="_blank") #[img(src="#{assets}/teaching-course-logo.svg", alt="The Teaching Course")]
        #footer-bottom
            .footer-bottom-container
                #footer-info Designed by Chris Gaafary
                #footer-social-icons
                    .et-social-icon.et-social-facebook #[a.icon(href="https://www.facebook.com/academiclifeinem" target="_blank")]
                    .et-social-icon.et-social-twitter #[a.icon(href="https://twitter.com/aliemteam" target="_blank")]
                    .et-social-icon.et-social-google-plus #[a.icon(href="https://plus.google.com/+Academiclifeinem/posts" target="_blank")]
                    .et-social-icon.et-social-rss #[a.icon(href="http://aliem.com/?feed=rss2" target="_blank")]
    | </div>
| </div>
- wp_footer()
| </body></html>
