@import 'variables';
@import 'mixins/button';

.btn {
    @include button;
}

.btn--primary {
    @include button($secondary);
}

.btn--primary-alt {
    @include button($primary);
}

.btn--flat {
    @include button($modifiers: flat);
}

.btn--narrow {
    min-width: 32px;
    padding: 0;
}

.btn--active {
    color: $secondary !important;
}

.btn--air-pro {
    color: $airpro-primary !important;
}

.btn--air {
    color: $air-primary !important;
}

.btn--capsules {
    color: $capsules-primary !important;
}
