@import 'variables';
@import 'mixins/button';
@import 'mixins/hard-boundary';

#comments {
    grid-area: comments;
    margin: ($block-margin * 2);
    margin-top: 0;

    a {
        overflow-wrap: break-word;
    }
}

.comments-area {
    @include hard-boundary(top);
    margin: auto;
    padding-top: $block-margin;
    max-width: $max-width-wide;

    ol {
        list-style: none;
        margin: 0;
    }
}

.comment-respond {
    padding: 0 10px;
    margin: $block-margin 0;
    // stylelint-disable-next-line no-descending-specificity
    > a {
        font-size: 0.8em;
    }

    .comment-form {
        > p {
            margin: 0;
        }

        .logged-in-as {
            font-size: 0.8em;
        }

        .form-submit {
            text-align: right;

            .submit {
                @include button($primary);
            }
        }

        textarea {
            width: 100%;
            height: 100px;
        }
    }
}

.comment-list {
    margin: $block-margin 0;
    padding: 0;
}

.comment-body {
    @include hard-boundary(bottom);
    margin: $block-margin 0;
    padding: 10px;
}

.comment-meta {
    display: flex;
    align-items: center;
}

.comment-metadata {
    font-size: 0.7em;
    // stylelint-disable-next-line no-descending-specificity
    > a {
        margin-right: 10px;
    }
}

.comment-content {
    margin: $block-margin 0;
}

.reply {
    font-size: 0.8em;
}

.comment-author.vcard {
    display: flex;

    .fn {
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .avatar {
        margin-right: 10px;
        width: auto;
    }

    .says {
        display: none;
    }
}
