@import 'variables';
@import 'mixins/hard-boundary';

#course_navigation {
    .widget_course_return {
        @include hard-boundary(top);
        font-size: 12px;
        line-height: 1.5;
        padding-top: 10px;
        margin-top: $block-margin;

        a {
            font-weight: normal;
        }
    }

    .learndash_navigation_lesson_topics_list {
        margin: 0;
        margin-top: -$block-margin;
    }

    .learndash_topic_widget_list {
        // Ensures that the subitems are always visible (quizzes, lessons, etc)
        display: block !important;

        ul {
            margin: 0 0 0 10px;
        }
    }

    .list_arrow {
        // this is important -- prevents LearnDash's really sloppy and non a11y
        // clickable arrows from being shown to screen readers / functioning
        display: none;
    }
    // Single lesson group and all subitems.
    .list_lessons {
        margin: $block-margin 0;
    }

    // Single lesson name
    .lesson {
        line-height: 1.2;
        padding-bottom: 5px;
    }

    // Item in the list that represents the current page.
    .learndash-current-menu-item a {
        font-weight: bold;
        text-decoration: underline;
    }

    // Single `<li>` holding the quiz item.
    .quiz-item {
        list-style: none;
        position: relative;
        font-size: 0.8em;

        .topic_item {
            a {
                display: inline-block;
                padding-left: 20px;
                line-height: 1.5;

                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    height: 12px;
                    width: 12px;
                    background: $gray-light;
                    box-shadow: inset 0 0 0 1px $border-color;
                    border-radius: 50%;
                }

                &.topic-completed:before {
                    background: map-get($intent, 'primary');
                }
            }
        }
    }
}
