@import '../mixins';
@import '../variables';

.footer {
    background: #252525;
    padding: 40px 0;
}

.footer-area {
    display: grid;
    grid: 'logo links icons';
    grid-template-columns: max-content 1fr max-content;
    grid-gap: 20px;
    justify-content: space-between;
    margin: auto;
    padding: 0 40px;
    max-width: $article-max-width;
}

.footer__logo {
    grid-area: logo;
    text-align: center;
}

.footer__links {
    margin: 0;
    list-style: none;
    grid-area: links;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-evenly; // progressive enhancement
    li {
        margin: 0 20px;
        a {
            color: white;
            font-size: 0.8em;
        }
    }
}

.footer__icons {
    grid-area: icons;
}

.footer__icon {
    margin: 0 10px;
    &:hover {
        text-decoration: none;
    }
    svg {
        fill: $gray;
    }
    &--facebook:hover svg {
        fill: #3b579d;
    }
    &--twitter:hover svg {
        fill: #1da1f2;
    }
}

@include device-mobile {
    .footer-area {
        grid:
            'logo  links'
            'icons links'
            / max-content max-content;
        justify-content: center;
    }
    .footer__links {
        flex-flow: column;
    }
}
