@import '../colors';
@import '../mixins';
@import '../variables';

.footer {
    background: #252525;
    width: 100%;
    &-area {
        display: flex;
        max-width: 800px;
        margin: auto;
        justify-content: space-between;
        align-items: flex-start;
        padding: 40px;
        padding-bottom: 0;
        > * {
            padding-bottom: 40px;
        }
    }
    &__logo {
        min-width: 50px;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 400px;
        margin: 0 40px;
        flex: auto;
        list-style: none;
        padding-bottom: 30px;
        li {
            min-width: 10%;
            flex: auto;
            white-space: nowrap;
            line-height: normal;
            margin: 0 20px 10px;
        }
        a {
            color: white;
            font-size: 0.8em;
        }
    }
    &__icons {
        display: flex;
        align-items: center;
        a {
            width: 24px;
            height: 24px;
            margin: 0 10px;
            fill: #666;
        }
        &--facebook:hover {
            fill: #3b579d;
        }
        &--twitter:hover {
            fill: #1da1f2;
        }
    }

    @include device-mobile {
        &-area {
            flex-direction: column;
            align-items: center;
        }
    }
}
