@import '_colors';
@import 'variables';

.person {
    display: flex;
    flex-flow: column nowrap;
    box-shadow: map-get($shadows, 'depth-2');
    border-radius: $border-radius;
}

.person__img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $gray-light;

    img {
        border-top-right-radius: $border-radius;
        border-top-left-radius: $border-radius;
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.person__meta {
    flex: auto;
    padding: 10px;
    overflow: auto;
    max-height: 250px;

    &::-webkit-scrollbar {
        width: 5px;

        &-thumb {
            background: #c4c4c4;
            border-radius: 2px;
        }
    }
}

.person__name {
    font-weight: 600;
}

.person__title {
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 10px;
}

.person__background {
    font-size: 0.8em;
}

.person__social-media {
    border-top: solid $gray-light 1px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25px);
    gap: 10px;
    padding: 5px 10px;
    min-height: 35px;

    a {
        display: block;
        height: 25px;
        width: 25px;

        &:hover {
            opacity: 0.8;
        }

        @each $site, $color in $social-media-colors {
            &[href*='#{$site}' i] {
                fill: $color;
            }
        }
    }
}
