@import '_colors';

.spinner {
    stroke: $primary;
    stroke-linecap: round;
    animation: spin 0.8s cubic-bezier(0.4, 0.15, 0.6, 0.85) infinite;

    circle {
        fill: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(-150deg);
    }

    to {
        transform: rotate(210deg);
    }
}
