// FIXME: This file should be imported only on the page it's needed.
@import 'colors';
@import 'variables';

.course-list {
    padding: 0;
}

.course-list--transparent {
    $margin-size: 10px;
    background: transparent;
    box-shadow: unset;
    .course-boxes {
        padding: 0;
        margin: -#{$margin-size};
        margin-bottom: $margin-size;
        justify-content: flex-start;
        .course-box {
            flex: auto;
            min-width: 200px;
            max-width: 350px;
            width: 250px;
            margin: $margin-size;
        }
    }
}

.course-list__year-links {
    display: flex;
    justify-content: center;
    height: 45px;
    align-items: center;
    box-shadow: map-get($shadows, 'depth-2');
    border-radius: 2px 2px 0 0;
    background: $gray-dark;
    a {
        margin: 0 10px;
        font-weight: 400;
        color: white;
        &:hover {
            text-decoration: underline;
            color: white;
        }
    }
}

.course-list__single-year-container {
    margin-bottom: $block-margin;
}

.course-list__year-heading {
    text-align: center;
    font-size: 2rem;
    color: $font-secondary;
}

// Course Boxes ----------------------------------------------------------------

.course-boxes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 20px;
    white-space: normal;
    height: 100%;
    > article {
        margin-bottom: $block-margin;
    }
}

.course-boxes--scroll {
    display: block;
    padding: 0 10px 10px 10px;
    overflow-y: visible;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.course-box {
    width: 300px;
    display: inline-block;
    white-space: normal;
    background-color: white;
    border-radius: 2px;
    box-shadow: map-get($shadows, 'depth-2');
}

.course-box__heading {
    text-align: right;
    font-size: 20px;
    color: white;
    background: $primary;
    font-weight: 500;
    border-radius: 2px 2px 0 0;
    box-shadow: map-get($shadows, 'depth-2');
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    &.category-air {
        background: $air-primary;
    }
    &.category-air-pro {
        background: $airpro-primary;
    }
    &.category-capsules {
        background: $capsules-primary;
    }
}

.course-box__body {
    display: flex;
    border-radius: 0 0 2px 2px;
    flex-flow: column;
    height: 300px;
    padding: 10px;
}

.course-box__category {
    color: $font-secondary;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.course-box__title {
    font-size: 20px;
    padding: 10px 0;
}

.course-box__description {
    flex: auto;
    font-size: 0.9em;
    overflow: hidden;
}

.course-box__link {
    text-align: right;
}
