// FIXME: This should be imported only on the page it's needed.
@import 'colors';
@import 'mixins';
@import 'variables';

.au-homepage,
.au-faculty-start {
    #row-1 {
        * {
            z-index: 2;
        }
        display: flex;
        margin: 0 5%;
        height: calc(100vh - 50px);
        padding-bottom: 20vh;
        justify-content: center;
        align-items: center;
        .au-container {
            position: relative;
            width: 500px;
        }
    }
    @media (max-width: 480px) {
        #row-1 {
            padding-bottom: 0;
        }
    }

    @for $i from 2 through 7 {
        #row-#{$i} {
            * {
                z-index: 2;
            }
            display: flex;
            margin: 0 5%;
            justify-content: center;
            align-items: center;
            height: auto;
            padding: 0;
            .au-container {
                position: relative;
                margin: 50px 0;
                height: auto;
                width: 800px;
            }
        }
    }

    .au-splash {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        > div {
            margin: 5px 0;
        }
    }
    .au-general,
    .au-faculty {
        display: flex;
        flex: auto;
        flex-flow: column;
        background: white;
        box-shadow: map-get($shadows, 'depth-2');
        border-radius: 3px;
        text-align: center;
        padding: 25px 0;
        div {
            position: relative;
            flex: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            h1 {
                color: $primary;
                margin: 0 0 10px 0;
                padding: 0;
                &.au-loggedin {
                    color: $gray-dark;
                }
            }
            a {
                @include button($primary);
                margin: 0 5px;
            }
        }
    }
    .au-faculty {
        background: $gray-dark;
        div {
            h1 {
                color: white;
            }
            a {
                @include button($gray-dark);
            }
        }
    }

    .au-login {
        background: $primary;
        display: flex;
        flex: auto;
        padding: 25px 0;
        border-radius: 3px;
        text-align: center;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: auto;
            a {
                @include button($primary);
            }
        }
    }

    .au-info-card {
        display: flex;
        flex: auto;
        flex-flow: column;
        box-shadow: map-get($shadows, 'depth-2');
        border-radius: 3px;
        .au-info-header {
            border-radius: 3px 3px 0 0;
            background-color: $primary;
            h1 {
                margin: 0;
                color: white;
                line-height: 1.5em;
                padding: 0;
                text-align: center;
            }
        }
        .au-info-text {
            background: white;
            padding: 15px 20px;
            text-align: left;
            p {
                color: $gray-dark;
                font-weight: 300;
            }
            ol {
                padding: 1em 0;
            }
            a {
                font-weight: 600;
            }
        }
    }

    .au-series-logos {
        display: flex;
        justify-content: space-around;
        background: white;
        div {
            max-width: 200px;
            display: flex;
            align-items: center;
            padding: 10px;
            margin-top: 20px;
        }
        &.au-alt-logos {
            flex-wrap: wrap;
            background: transparent;
            div {
                max-width: 100px;
                display: flex;
                padding: 10px;
                align-items: center;
                margin-top: 0;
                background: transparent;
            }
        }
    }
}
