- get_header()
| <?php $assets = get_stylesheet_directory_uri() . '/assets' ?>
#main-content #[| <?php while (have_posts()) : the_post(); ?>]
    | <article id="post-<?php the_ID(); ?>" <?php post_class('category-air-pro'); ?>>
    .au-card
        .au-heading #[h1 Approved Instructional Resources Professional (AIR-Pro) series]
        .au-content
            .au-text #[div Welcome to the #[a(href="/about/#au-about-air-pro") Approved Instructional Resources Professional (AIR-Pro) series]! This series curates and grades open access blog posts and podcasts in the field of emergency medicine (EM) to identify high quality, social media-based, educational resources for senior EM residents. Unlike the AIR Series, this series targets more advanced practitioners and is no longer limited to content published within the previous 12 months. This series fulfills #[a(href="/about/#au-about-content") Individualized Interactive Instruction (III)], or asynchronous online learning, conference needs. Below are the AIR-Pro blocks along with their suggested number of III conference hour credit. If you are a Program Director and wish to track your residents’ progress, please request Educator Dashboard access.]
            .au-image #[img(src="#{assets}/air-pro-logo.svg", alt="AIR-Pro Logo")]
    .au-links-row
        a(href="#year-2016") 2016
        a(href="#year-2015") 2015
    .au-year-row#year-2016
        .au-year #[h1 2016]
        .au-course-boxes
            != do_shortcode('[ld_course_list category_name="air-pro" tag="2016"]')
    .au-year-row#year-2015
        .au-year #[h1 2015]
        .au-course-boxes
            != do_shortcode('[ld_course_list category_name="air-pro" tag="2015"]')
    | </article><?php endwhile; ?>
- get_footer()
