- user = wp_get_current_user()
| <?php $assets = get_stylesheet_directory_uri() . '/assets' ?>
- get_header()
#main-content.au-homepage #[| <?php while (have_posts()) : the_post(); ?>]
    | <article id="post-<?php the_ID(); ?>" <?php post_class(); ?>>
    .entry-content
        #particles
        #row-1
            .au-container
                .au-logo #[img(src="#{assets}/aliemu-logo-horizontal.svg", alt="Logo")]
                .au-splash
                    if !is_user_logged_in()
                        .au-general
                            div #[h1 General Members]
                            div #[a(href="#row-4") Register Here]
                        .au-faculty
                            div #[h1 EM Residency Faculty]
                            div #[a(href="/faculty-start") Register Here]
                        .au-login #[div #[a(href="#row-2" id="login") Learn More]]
                    else
                        .au-general
                            div #[h1.au-loggedin Welcome back, #[!= user.first_name]!]
                            div
                                a(href="/user") My Profile
                                a(href="/logout-2") Logout
                        .au-series-logos.au-alt-logos
                            div #[a(href="/air") #[img(src="/wp-content/uploads/2016/06/air-button.png", alt="AIR Button")]]
                            div #[a(href="/air-pro") #[img(src="/wp-content/uploads/2016/06/airpro-button.png", alt="AIR-Pro Button")]]
                            div #[a(href="/capsules") #[img(src="#{assets}/capsules-logo.svg", alt="Capsules Button")]]
        if !is_user_logged_in()
            #row-2
                .au-container
                    .au-info-card
                        .au-info-header #[h1 What is ALiEMU?]
                        .au-info-text #[p ALiEMU can best be thought of as our open-access, on-demand, online school of e-courses for anyone practicing Emergency Medicine worldwide. We ultimately envision serving as a platform where educators can submit e-courses, whereupon each will undergo expert peer review and receive instructional design assistance to optimize online content delivery and learner retention. Only high-quality, vetted courses relevant to the EM community will be published as an on-demand course on ALiEMU. #[a(href="/about") Click here] to learn more about ALiEMU and the courses offered.]
            #row-3
                .au-container
                    .au-info-card
                        .au-info-header #[h1 Click a series to learn more]
                        .au-series-logos
                            div #[a(href="/air") #[img(src="/wp-content/uploads/2016/06/air-button.png", alt="AIR Button")]]
                            div #[a(href="/air-pro") #[img(src="/wp-content/uploads/2016/06/airpro-button.png", alt="AIR-Pro Button")]]
                            div #[a(href="/capsules") #[img(src="#{assets}/capsules-logo.svg", alt="Capsules Button")]]
            #row-4
                .au-container
                    .au-info-card
                        .au-info-header #[h1 General Registration]
                        .au-info-text #[p We welcome learners from every discipline and training level to register and take our courses. Emergency Medicine Faculty with appointments at U.S. Emergency Medicine residency programs should register through our #[a(href="/faculty-start") faculty registration] for access to our Educator Dashboard.]
                        .au-info-text #[!= do_shortcode('[ultimatemember form_id=52]')]
    | </article><?php endwhile; ?>
- get_footer()
