$primary          = #00b092
$accent           = #345995
$secondary        = #F2F2F2
$tertiary         = #F5F5F5
$air-primary      = #b91215
$airpro-primary   = #fc980d
$capsules-primary = #4a90e2

// Fonts
$font-primary     = #333
$font-secondary   = #666
$font-gray        = #706d6e

// Buttons
$button-active    = rgba(0, 0, 0, .12)
$button-disabled  = #a0a5aa

// Forms
$input-focus      = #00caa7

// Grayscale Palette
$gray-dark        = #444243
$font-light-color = #F8F8FF
$link-inactive    = #b2b3b2

// Misc
$green-correct    = #5CB85C
$red-incorrect    = #EF001D
