// @stylint off
// Center the "Mark Complete" button
#sfwd-mark-complete
    text-align: center
    margin-bottom: $block-margin

#learndash_mark_complete_button
    @extends .btn
    @extends .btn--primary

.prev-link,
.next-link
    @extends .btn
    @extends .btn--primary
    margin-bottom: $block-margin
    > span
        display: none

// Next/Prev buttons
#learndash_next_prev_link
    display: flex
    justify-content: space-between
    margin: 0

.learndash_join_button
    margin-bottom: $block-margin
    text-align: center

.btn-join
    @extends .btn
    @extends .btn--primary
    background: $primary

// Course status line
.course-status
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: $block-margin
    align-items: baseline
    background: $secondary
    padding: 10px
    span
        text-align: center

@media screen and (max-width: 650px)
    .course-status
        justify-content: space-around

// Content Tables (Lessons, Quizzes, etc)
.content-table
    box-shadow: $shadow-2dp
    margin-bottom: $block-margin
    border-radius: 2px

.content-table__row
    height: 50px
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 400
    border-bottom: solid $secondary 1px
    &:last-of-type
        border-radius: 0 0 2px 2px
    &:hover
        background: rgba(0, 0, 0, 0.02)

.content-table__row--header
    padding: 0 $block-margin
    background: $accent
    color: white
    font-weight: 500
    border-radius: 2px 2px 0 0
    &:hover
        background: $accent

.content-table__cell
    display: flex
    height: 100%
    line-height: 50px
    flex-flow: column nowrap
    justify-content: center

.content-table__cell--padded
    padding: 0 $block-margin

.content-table__cell--full-width
    width: 100%
    min-width: 0
    a
        text-overflow: ellipsis
        overflow: hidden
        white-space: nowrap

.content-table__link
    width: 100%
    color: $accent
    height: 100%
    padding: 0 $block-margin
