// @stylint off
// Center the "Mark Complete" button
#sfwd-mark-complete
    text-align: center

#learndash_mark_complete_button
    @extends .btn
    @extends .btn--primary

.prev-link,
.next-link
    @extends .btn
    @extends .btn--flat
    color: $primary
    margin-bottom: $block-margin
    > span
        display: none

// Next/Prev buttons
#learndash_next_prev_link
    display: flex
    justify-content: space-between
    margin: 0

.learndash_join_button
    margin-bottom: $block-margin
    text-align: center

.btn-join
    @extends .btn
    @extends .btn--primary
    background: $primary

// Content Tables (Lessons, Quizzes, etc)
.content-table
    box-shadow: $shadow-2dp
    margin-bottom: $block-margin
    border-radius: 2px

.content-table__row
    height: 50px
    display: flex
    align-items: center
    justify-content: space-between
    font-weight: 400
    padding: 0 $block-margin
    border-bottom: solid $secondary 1px
    &:last-of-type
        border-radius: 0 0 2px 2px

.content-table__row--header
    padding: $block-margin
    background: $primary
    color: white
    font-weight: 500
    border-radius: 2px 2px 0 0

.content-table__cell
    display: flex
    flex-flow: column nowrap
    justify-content: center
