// @stylint off
// Center the "Mark Complete" button
#sfwd-mark-complete
    text-align: center

#learndash_mark_complete_button
    @extends .btn
    @extends .btn--primary

.prev-link,
.next-link
    @extends .btn
    @extends .btn--flat
    color: $primary
    margin-bottom: $block-margin
    > span
        display: none

// Next/Prev buttons
#learndash_next_prev_link
    display: flex
    justify-content: space-between
    margin: 0

.learndash_join_button
    margin-bottom: $block-margin
    text-align: center

.btn-join
    @extends .btn
    @extends .btn--primary
    background: $primary
