// @stylint off
// ABT -------------------------------------------------------------------------
.abt-bibliography
    margin-bottom: $block-margin

.abt-bibliography__heading
    margin-left: -10px !important
    &::before
        top: 8px !important

.abt-bibliography__container
    font-size: 0.8em !important

// TODO: Review all of below
// Ultimate Member -------------------------------------------------------------
img.um-avatar
    border-radius: 100px
    width: 25px
    position: relative
    top: 7px
    margin-left: 8px

#wc-comment-header
    color: white
    background-color: $primary
    text-align: center
    font-weight: 400
    padding: 10px
    margin: 0 !important
    border-radius: 2px 2px 0 0

// Bio box
.ts-fab-avatar .avatar
    width: 85%

// ?
.ts-fab-wrapper
    padding: 1em 0
    clear: both

// Profiles
.um-profile-body
    max-width: 100% !important

input[type=submit].um-button
input[type=submit].um-button:focus
a.um-button
a.um-button.um-disabled:hover
a.um-button.um-disabled:focus
a.um-button.um-disabled:active
    background: $primary !important

.um-button.um-alt
input[type=submit].um-button.um-alt
    color: white !important

.um-profile-headericon a:hover
.um-profile-edit-a.active
    color: $primary !important


// WpProQuiz -------------------------------------------------------------------
.quiz_continue_link
    order: 1
    a#quiz_continue_link
        bordered-button(small)
        color: $primary !important
        transition: .1s !important
        &:hover
            color: white !important
            transition: .1s !important

+prefix-classes('wpProQuiz_')
    .button
        @extends .btn
        @extends .btn--flat
        color: $primary
    .correct
        > span:first-of-type
            color: $green-correct
            font-weight: bold

    .incorrect
        > span:first-of-type
            color:$red-incorrect
            font-weight: bold
    .spinner,
    .spinner > div
        z-index: 10000000

    // Hint box
    .tipp > div
        padding: 10px
        margin: 0 0 20px 0
        background-color: $secondary
        h5
            color: $font-primary
            padding: 0

    .AnswerMessage
        margin: 0 0 20px 0
    .listItem
        list-style-type: none

    .question_text
        margin: 0 0 20px 0

    .list
        padding-bottom: 0 !important
        .questionList
            background: $secondary
            border-radius: 3px
            padding: 20px !important
            margin: 0 0 20px 0
            .questionListItem
                list-style: none
                padding-left: 20px
                .questionInput
                    line-height: 26px
                    margin-left: -20px
                    vertical-align: text-top

    .results > div:last-of-type
        display: flex
        justify-content: space-between
        align-items: center

    .certificate
        text-align: center

    .resultsList
    .quiz_time
    .time_limit_expired
    .points
    .graded_points
        display: none


// WP Discuz -------------------------------------------------------------------
#wpcomm .wc-comment-title
    text-align: center
