@require './colors'
// @stylint off
// ABT -------------------------------------------------------------------------
.abt-bibliography
    margin-bottom: $block-margin

.abt-bibliography__heading
    margin-left: -10px !important
    &::before
        top: 8px !important

.abt-bibliography__container
    font-size: 0.8em !important
    padding: 0 $block-margin

// Ultimate Member -------------------------------------------------------------
.comment_avatar
    display: none

.comment-body
    border-bottom: solid $secondary
    padding-bottom: 15px
    margin-bottom: 10px

.comment-content p
    margin: 0

.comment-form-comment
    margin: 0

.form-submit
    margin: 0

// Bio box
.ts-fab-avatar .avatar
    width: 85%

// ?
.ts-fab-wrapper
    padding: 1em 0
    clear: both

// Profiles
.um-profile-body
    max-width: 100% !important

.um-icon-arrow-up-b:before
    position: relative
    top: -4px

input[type=submit].um-button
input[type=submit].um-button:focus
a.um-button
a.um-button.um-disabled:hover
a.um-button.um-disabled:focus
a.um-button.um-disabled:active
    background: $primary !important

.um-button.um-alt
input[type=submit].um-button.um-alt
    color: white !important

.um-profile-headericon a:hover
.um-profile-edit-a.active
    color: $primary !important


// WpProQuiz -------------------------------------------------------------------
.quiz_continue_link
    order: 1
    a#quiz_continue_link
        bordered-button(small)
        color: $primary !important
        transition: .1s !important
        &:hover
            color: white !important
            transition: .1s !important

+prefix-classes('wpProQuiz_')
    .button
        @extends .btn
        @extends .btn--primary
    .correct
        > span:first-of-type
            color: $green-correct
            font-weight: bold

    .incorrect
        > span:first-of-type
            color:$red-incorrect
            font-weight: bold
    .spinner,
    .spinner > div
        z-index: 10000000

    // Hint box
    .tipp > div
        padding: 10px
        margin: 0 0 20px 0
        background-color: $secondary
        h5
            color: $font-primary
            padding: 0

    .QuestionButton
        margin: 0 !important

    .AnswerMessage
        margin: 0 0 20px 0
    .listItem
        list-style-type: none
        &:before
            content: ''

    .question_text
        margin: 0 0 20px 0

    .list
        padding-bottom: 0 !important
        .questionList
            background: $secondary
            border-radius: 3px
            border-color: darken($secondary, 5)
            padding: 20px !important
            margin: 0 0 20px 0
            .questionListItem
                list-style: none
                padding-left: 20px
                .questionInput
                    line-height: 26px
                    margin-left: -20px
                    vertical-align: text-top

    .results > div:last-of-type
        display: flex
        justify-content: space-between
        align-items: center

    .certificate
        text-align: center

    .resultsList
    .quiz_time
    .time_limit_expired
    .points
    .graded_points
        display: none


// WP Discuz -------------------------------------------------------------------
#wc-comment-header
    color: $font-secondary
    background-color: $secondary
    border: 1px solid darken($secondary, 5)
    text-align: center
    font-weight: 400
    padding: 10px
    margin: 0 !important
    max-width: none

#wc_show_hide_loggedin_username
    max-width: none

#wpcomm
    max-width: none
    .wc-comment-title
        text-align: center
    .wpdiscuz-textarea-wrap
        border: none !important
    #wpdiscuz-subscribe-form
        display: flex
    .wpdiscuz-subscribe-form-option
        flex: auto
        width: 100%
    .wpdiscuz-subscribe-form-button
        input[type='submit']
            @extends .btn
            @extends .btn--flat
            font-size: 1.5rem !important

.wc-form-footer .wpd-form-row
    display: flex
    .wpd-form-col-left
        display: none
    .wpd-form-col-right
        width: 100%
        flex: auto
        .wc-field-submit
            width: 100%
            display: flex
            justify-content: space-between
            padding: 0 !important
            .wc_comm_submit
                @extends .btn
                @extends .btn--primary
