@import '_colors';
@import 'mixins/media';
@import 'variables';

.table-caption {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-bottom: 4px;
    gap: 4px;

    h2 {
        margin: 0;
    }

    @include device-mobile {
        grid-template-columns: 1fr;
    }
}

.table {
    grid-area: table;
}

.empty-state {
    margin: $block-margin 0;

    &-content {
        text-align: center;
        display: grid;
    }

    i {
        color: $primary;
    }

    h3 {
        font-weight: initial;
        margin: 0;
    }
}
