/*
 Theme Name:   Divi Child
 Theme URI:    http://www.elegantthemes.com/gallery/divi/
 Description:  Divi Child Theme
 Author: Elegant Themes
 Author URI: http://www.elegantthemes.com
 Template:     Divi
 Version:      1.0.0
 License: GNU General Public License v2
 License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/
