*
    font-family Lato

p
    letter-spacing 0.01em
    word-spacing 0.05em
    color $font-color


a.disabled
    pointer-events none
    cursor default
    opacity 0.5


select:disabled
    opacity 0.5


#left-area ol,
.comment-content ol,
.entry-content ol
    list-style-type decimal
    list-style-position inside


// Remove padding on homepage slider
#post-2 .entry-content
    padding 0


// WordPress Image Box w/ Caption Formatting
.wp-caption
    border 0
    text-align center
    background-color white
    padding 4px 8px 8px 8px
    margin 20px 0
    font-family Lato
    border-radius $card-radius
    box-shadow $box-shadow

    p.wp-caption-text
        padding 0 4px 5px
        margin 0
        font 600 1.25em Lato


@media only screen and (max-width 768px)
    h1
        font-size 1.5em


@require 'homepage'
@require 'series-pages'
@require 'dashboards'
@require 'courselist'
@require 'misc'
@require 'about'
