@import 'mixins/media';

.caption__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 5px;

    @include device-mobile {
        grid-template-columns: 1fr;
    }
}

.caption__left {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    h2 {
        margin: 0 {
            right: 10px;
        }

        @include device-mobile {
            margin: 0 10px 10px 0;
        }
    }
}

.export-learner-form {
    display: grid;
    gap: 4px;
    grid-template-columns: 1fr 1fr auto;

    @include device-mobile {
        grid-template-columns: 1fr 1fr;

        button {
            grid-column: span 2;
        }
    }
}
