$primary: #00b092 !default;
$accent: #345995 !default;
$secondary: #F2F2F2 !default;
$tertiary: #F5F5F5 !default;
$air-primary: #b91215 !default;
$airpro-primary: #fc980d !default;
$capsules-primary: #4a90e2 !default;

// Font
$font-primary: #333 !default;
$font-secondary: #666 !default;
$font-gray: #706d6e !default;

// Grayscale
$gray-dark: #444243 !default;


