// ALiEMU Color Palette
$primary = #00B092
$air-primary = #B91215
$airpro-primary = #FC980D
$capsules-primary = #4a90e2

// Grayscale Palette
$gray-dark = #444243
$gray-light = #F5F5F5

$font-color = #666
$font-light-color = #F8F8FF
$link-inactive = #b2b3b2
$green-correct = #5CB85C
$red-incorrect = #EF001D

secondary(color-var)
    darken(color-var, 5)
