@import '_colors';
@import 'variables';

$padding-size: 10px;

.notice {
    display: grid;
    justify-content: flex-start;
    grid-auto-flow: column;
    gap: 10px;
    padding: $padding-size;
    background: $gray-light;
    border-radius: $border-radius;
    text-align: initial;
    font-size: 16px;

    i {
        align-self: flex-start;
    }

    @each $k, $v in $intent {
        &.intent-#{$k} {
            background-color: lighten(rgba($v, 0.15), 10%);

            .heading {
                color: $v;
            }
        }
    }
}

.heading {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
    font-family: $font-sans;
    font-weight: 600;
    line-height: 22px;
}
