@import '_colors';
@import 'variables';

.notice {
    display: grid;
    grid:
        'icon message'
        / min-content 1fr;
    grid-gap: 10px;
    padding: 10px;

    background: $gray-light;
    border-radius: $border-radius;

    @each $k, $v in $intent {
        &.intent-#{$k} {
            color: $v;
            background-color: lighten(rgba($v, 0.15), 10%);

            h1 {
                color: $v;
            }
        }
    }

    div {
        grid-area: message;
        color: initial;
        font-size: 14px;
        line-height: 1.4;
        word-break: break-word;
        text-align: justify;
    }

    h1 {
        margin: 0 {
            bottom: 5px;
        }
        font-size: 18px;
        font-family: $font-sans;
    }

    i {
        grid-area: icon;
    }
}
