@import 'mixins';
@import 'variables';

.listing {
    background-color: white;
    display: grid;
    grid:
        'img head head head'
        'img desc desc desc' 1fr
        / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 30px $block-margin;
    &:nth-of-type(n + 2) {
        border-top: 1px solid $border-color;
    }
    div {
        line-height: 1.5rem;
        font-size: 16px;
    }
}

.img {
    grid-area: img;
    width: 100%;
}

.heading {
    grid-area: head;
    display: flex;
    strong {
        flex-shrink: 0;
    }
}

.title-container {
    flex: auto;
    display: flex;
    align-items: center;
}

.title {
    font-size: 24px;
    margin: 0;
}

.desc {
    grid-area: desc;
    font-size: 16px;
}

.new-tag {
    padding: 1px 4px;
    margin-right: 10px;
    border-radius: $border-radius;
    font-family: $font-mono;
    text-transform: uppercase;
    font-size: 12px;
    line-height: initial;
    background: $secondary;
    color: white;
}

@include device-mobile {
    .listing {
        grid:
            'img'
            'head'
            'desc';
    }
    .new-tag {
        display: none;
    }
}
