@import '_colors';
@import 'mixins/media';
@import 'variables';

.listing {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: $block-padding;
    align-items: center;
    padding: $block-padding;

    @include device-mobile {
        grid:
            'img'
            'head'
            'desc';
    }

    &:nth-of-type(n + 2) {
        border-top: 1px solid $border-color;
    }
}

.desc {
    font-size: 16px;
}
