@import 'variables';

// FIXME: This should be inlined in the dashboard itself.
.au-edudash-shadowbox {
    background: white;
    box-shadow: map-get($shadows, 'depth-2');
    box-sizing: border-box;
    margin-bottom: 30px;

    h1 {
        background: $primary;
        color: white;
        text-align: center;
        padding: 10px;
        font: 600 1.5em;
    }

    h2 {
        font-size: 1.1em;
        margin: 0;
        background: $gray-dark;
        color: white;
        text-align: center;
        padding: 5px 0;
        width: 100%;
    }
}

.pagination {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 2.5px;
}
