// FIXME: This should be imported only on the page it's needed.
@import 'variables';

.home__row {
    $vertical-padding: 25px;
    width: 100%;
    max-width: $max-width-narrow;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: $vertical-padding 0;

    &:first-of-type {
        min-height: calc(100vh - #{$header-height} - #{$vertical-padding * 2});
    }

    .admin-bar &:first-of-type {
        min-height: calc(
            100vh - #{$header-height} - #{$vertical-padding * 2} - #{$admin-bar-height}
        );
    }
}

.home__series-logos {
    display: flex;
    align-items: center;

    > a {
        display: block;
        width: 25%;
        padding: 10px;
        flex: auto;

        img {
            max-width: 100%;
        }
    }
}

.home__splash {
    width: 500px;
    max-width: 100%;
    padding: 0 10px;

    .card {
        text-align: center;
        margin-bottom: 10px;

        &:nth-of-type(2) {
            background: $gray;

            h1 {
                color: white;
            }
        }

        &:nth-of-type(3) {
            background: $secondary;
        }
    }
}
