@import 'colors';
@import 'mixins';
@import 'variables';

// Contact Page ----------------------------------------------------------------
.contact-form__row {
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact-form__row_submit {
    align-items: flex-start;
}

@include device-mobile {
    #recaptcha {
        transform: scale(0.8);
    }
    .contact-form__row_submit {
        justify-content: center;
    }
}

.contact-form__item {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    padding: 5px;
    input {
        flex: auto;
    }
    label {
        white-space: nowrap;
        padding-right: 20px;
    }
}
