@import 'colors';
@import 'mixins';
@import 'variables';

// Contact Page ----------------------------------------------------------------
.contact-form__row {
    min-height: 50px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.contact-form__row_submit {
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    #recaptcha {
        transform: scale(0.8);
    }
    .contact-form__row_submit {
        justify-content: center;
    }
}

.contact-form__item {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    padding: 5px;
    input {
        flex: auto;
    }
    label {
        white-space: nowrap;
        padding-right: 20px;
    }
}

// Team Page ------------------------------------------------------------
.team-member {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    margin: 20px;
}

.team-member__photo {
    max-height: 250px;
    max-width: 250px;
    height: 100%;
    width: 100%;
    border-radius: 250px;
    margin-bottom: 10px;
}

.team-member__name {
    display: flex;
    align-items: center;
}

.team-member__name a {
    @extend .team-member__name;
    margin-right: 10px;
}

.team-member__title,
.team-member__role {
    font-size: 0.8em;
}

.au-team-header {
    $h: 150px;
    height: $h;
    background: $primary;
    &.au-air-team {
        background: $air-primary;
    }
    &.au-airpro-team {
        background: $airpro-primary;
    }
    &.au-capsules-team {
        background: $capsules-primary;
    }
    h1 {
        font-size: 2em;
        font-weight: 600;
        color: white;
        line-height: $h;
        text-align: center;
    }
}
.au-team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    margin: auto;
}
