@import 'variables';
@import 'mixins/hard-boundary';
@import 'mixins/media';

body {
    background: white;

    &.home,
    &.um-page-account,
    &.um-page-login,
    &.um-page-password-reset,
    &.post-type-archive-sfwd-courses,
    &.page-id-1248 {
        background: $gray-light;
    }
}

.skip-link {
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    overflow: hidden;
    background: $primary;
    color: white;
    left: $block-margin;
    padding: 5px 20px;
    box-shadow: map-get($shadows, 'depth-8');

    &:focus {
        clip: unset;
        height: auto;
        width: auto;
    }
}

#body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-auto-rows: min-content;
}

.content-area {
    max-width: 100vw;
    display: flex;
    justify-content: center;
}

main[role='main'] {
    max-width: 100%;
    padding: 0 $section-margin;
    margin: $section-margin 0;
    flex: auto;

    @include device-tablet {
        padding: 0 $block-margin;
    }
    @include device-mobile {
        padding: 0 $block-margin;
    }

    > article {
        max-width: $max-width-narrow;
        margin: auto;
        // Ultimate member user page
        .um-page-user & {
            max-width: 100%;
        }
    }

    .um-page-account & {
        display: flex;

        article {
            max-width: 900px;
            width: 100%;
        }
    }
}

#sidebar {
    @include hard-boundary(left);
    max-width: 250px;
    margin: $section-margin $section-margin $section-margin 0;
    padding-left: $section-margin;

    .widget-content--sticky {
        position: sticky;
        top: $section-margin + $header-height;
        @at-root .admin-bar & {
            top: $section-margin + $header-height + $admin-bar-height;
        }
    }
    @include device-tablet {
        display: none;
    }
    @include device-mobile {
        display: none;
    }
}
