@import '_colors';

$shadows: (
    border-bottom: 0 1px 0 rgba(16, 22, 26, 0.15),
    border-top: 0 -1px 0 rgba(16, 22, 26, 0.15),
    depth-2:
        (
            0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.2),
            0 1px 5px 0 rgba(0, 0, 0, 0.12)
        ),
    depth-3:
        (
            0 3px 4px 0 rgba(0, 0, 0, 0.14),
            0 3px 3px -2px rgba(0, 0, 0, 0.2),
            0 1px 8px 0 rgba(0, 0, 0, 0.12)
        ),
    depth-4:
        (
            0 4px 5px 0 rgba(0, 0, 0, 0.14),
            0 1px 10px 0 rgba(0, 0, 0, 0.12),
            0 2px 4px -1px rgba(0, 0, 0, 0.2)
        ),
    depth-6:
        (
            0 6px 10px 0 rgba(0, 0, 0, 0.14),
            0 1px 18px 0 rgba(0, 0, 0, 0.12),
            0 3px 5px -1px rgba(0, 0, 0, 0.2)
        ),
    depth-8:
        (
            0 8px 10px 1px rgba(0, 0, 0, 0.14),
            0 3px 14px 2px rgba(0, 0, 0, 0.12),
            0 5px 5px -3px rgba(0, 0, 0, 0.2)
        ),
    depth-16:
        (
            0 16px 24px 2px rgba(0, 0, 0, 0.14),
            0 6px 30px 5px rgba(0, 0, 0, 0.12),
            0 8px 10px -5px rgba(0, 0, 0, 0.2)
        ),
    depth-24:
        (
            0 9px 46px 8px rgba(0, 0, 0, 0.14),
            0 11px 15px -7px rgba(0, 0, 0, 0.12),
            0 24px 38px 3px rgba(0, 0, 0, 0.2)
        )
);

$transitions: (
    shadow: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
    button:
        (
            box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),
            background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
            color 0.2s cubic-bezier(0.4, 0, 0.2, 1)
        )
);

// Font
$font-sans: 'Roboto', sans-serif !default;
$font-serif: 'Roboto Slab', serif !default;
$font-mono: 'Roboto Mono', monospace !default;
$font-family: $font-sans !default;

// Block element attributes
$block-margin: 1.5rem !default;
$block-padding: 20px !default;
$border-radius: 3px !default;

// Layout
$header-height: 4rem !default;
$admin-bar-height: 2rem !default;
$max-width-wide: 1250px !default;
$max-width-medium: 1000px !default;
$max-width-narrow: 800px !default;
$section-margin: $block-margin * 2 !default;

