@import 'variables';
@import 'mixins/button';
@import 'mixins/hard-boundary';
@import 'mixins/media';

// Center the "Mark Complete" button
#sfwd-mark-complete {
    text-align: center;
    margin-bottom: $block-margin;
}

#learndash_mark_complete_button {
    @include button($secondary);
}

.prev-link,
.next-link {
    @include button($secondary);
    margin-bottom: $block-margin;

    > span {
        display: none;
    }
}

// Next/Prev buttons
#learndash_next_prev_link {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.learndash_join_button {
    margin-bottom: $block-margin;
    text-align: center;
}

.btn-join {
    @include button($secondary);
}

// Course status line
.course-status {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $block-margin;
    align-items: baseline;
    background: $gray-light;
    padding: 10px;

    span {
        text-align: center;
    }
}

@include device-mobile {
    .course-status {
        justify-content: space-around;
    }
}

// Content Tables (Lessons, Quizzes, etc)
.content-table {
    box-shadow: map-get($shadows, 'depth-2');
    margin-bottom: $block-margin;
    border-radius: 2px;
}

.content-table__row {
    @include hard-boundary(bottom);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;

    &:last-of-type {
        border-radius: 0 0 2px 2px;
        box-shadow: unset;
    }

    &:hover {
        background: rgba(0, 0, 0, 0.02);
    }
}

.content-table__row--header {
    padding: 0 $block-margin;
    background: $primary;
    color: white;
    font-weight: 600;
    border-radius: 2px 2px 0 0;

    &:hover {
        background: $primary;
    }
}

.content-table__cell {
    display: flex;
    height: 100%;
    line-height: 50px;
    flex-flow: column nowrap;
    justify-content: center;
}

.content-table__cell--padded {
    padding: 0 $block-margin;
}

.content-table__cell--full-width {
    width: 100%;
    min-width: 0;

    a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.content-table__link {
    width: 100%;
    color: $primary;
    height: 100%;
    padding: 0 $block-margin;
}

// Misc edge cases & overrides
// ----------------------

// "Progress" loading bar (they use <dd> here instead of <progress> for god
// knows what reason...
dd.course_progress {
    display: block;
    margin: 10px auto;
    padding: 0;
    position: relative;
    width: 90%;
    background-color: $gray-light;
    border: medium none;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    height: 20px;
    overflow: hidden;

    .sending_progress_bar {
        display: block;
        position: relative;
        text-align: right;
        width: 75%;
        background-color: map-get($intent, 'primary');
        box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15) inset;
        color: white;
        float: left;
        font-size: 12px;
        height: 100%;
        transition: width 0.6s ease 0s;
    }
}
