@import '_colors';
@import 'variables';

@mixin button($color: false, $modifiers: false) {
    $button-active: rgba(0, 0, 0, 0.12) !default;
    $button-disabled: #a0a5aa !default;
    background: white;
    background-image: none;
    border: none;
    border-radius: 2px;
    color: $text-color;
    cursor: pointer;
    display: inline-block;
    transition: map-get($transitions, 'button');
    font-size: 13px;
    font-weight: 600;
    height: 36px;
    line-height: 36px;
    min-width: 64px;
    outline: 0;
    padding: 0 16px;
    text-align: center;
    text-decoration: none !important;
    text-transform: uppercase;
    will-change: box-shadow;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: map-get($shadows, 'depth-2');
    @if index($modifiers, flat) {
        box-shadow: none;
    }
    @if type-of($color) == 'color' {
        @if not index($modifiers, flat) {
            background: $color;
            color: white;
        }
        @if index($modifiers, flat) {
            color: $color;
        }
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        box-shadow: map-get($shadows, depth-4);
        @if index($modifiers, flat) {
            box-shadow: none;
        }
    }

    &:disabled {
        pointer-events: none;
        background: $button-disabled;
        @if $color {
            opacity: 0.6;
            box-shadow: none;
            color: white;
        }
    }

    &:active:hover {
        @if type-of($color) == 'color' {
            @if not index($modifiers, flat) {
                background: darken($color, 5%);
            }
        } @else {
            background: $button-active;
        }
        box-shadow: map-get($shadows, depth-3);
        @if index($modifiers, flat) {
            box-shadow: none;
        }
    }
    @if index($modifiers, flat) {
        &:hover {
            background: rgba(158, 158, 158, 0.2);
        }

        &:active {
            background: lighten($button-active, 5%);
        }
    }
}
