@import 'variables';

@mixin focus-flat($color: $primary-light) {
    border: solid 1px $color;
    box-shadow: inset 0 1px 2px rgba($black, 0.075),
        0 0 0 0.2em rgba($color, 0.3);
}

@mixin focus-raised {
    border-color: transparent;
    box-shadow: rgba($primary, 0.11) 0px 4px 6px, rgba(black, 0.08) 0px 1px 3px;
}
