@import '_colors';
@import 'mixins/reset';
@import 'variables';

.remove-btn {
    @include reset-button;
    position: absolute;
    right: 0;
    height: calc(100% - 4px);
    width: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    color: $black;
    background-color: #d1dfeb;

    i {
        font-weight: bold;
    }
}

.tag {
    position: relative;
    display: inline-flex;
    background: rgba($primary, 0.15);
    color: $primary;
    cursor: pointer;
    margin: 0 5px 5px 0;
    padding: 2px 6px;
    font-family: $font-mono;
    font-size: 12px;
    font-weight: 500;
    border-radius: 2px;

    &:focus {
        outline: dotted 1px;
    }

    &:hover .remove-btn {
        width: 20px;
        margin-left: -20px;
        animation: {
            duration: 0.2s;
            name: spring;
            fill-mode: cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
}

@keyframes spring {
    0% {
        width: 0;
        margin-left: 0;
    }

    50% {
        width: 22px;
        margin-left: -22px;
    }

    100% {
        width: 20;
        margin-left: -20px;
    }
}
