$aliem         = #00B092 // ALiEM Turquoise
$primary       = #2EA3F2 // Main light blue color
$primary-hover = #4382CB // Hover color for main blue color FIXME: Needs to be confirmed.
$font-color    = #666    // Base font color (light gray)
$blue-capsules = #4A90E2 // CAPSULES blue
$gray-dark     = #444243 // Dark gray color used for card headings, etc...
$gray-light    = #F5F5F5 // Light gray used for background of the coursebox cards
$green-correct = #5CB85C // Correct green
$red-air       = #D0021B // Red color used for AIR cards, etc...
$red-incorrect = #EF001D // Incorrect red
