$primary          = #00B092
$blue1            = #0A4A77
$blue2            = #082254
$blue3            = #040428
$orange           = #FF884C

$secondary        = #00977d // Hover color
$primary-capsules = #4A90E2
$primary-air      = #D0021B
$primary-airpro   = #FC980D

$font-color       = #666    // Base font color
$font-light-color = #F8F8FF
$link-inactive    = #b2b3b2 // inactive links from ultimate member
$gray-dark        = #444243 // Used for card headings, etc...
$gray-light       = #F5F5F5 // Used for background of the coursebox cards
$green-correct    = #5CB85C // Correct answers
$red-incorrect    = #EF001D // Incorrect answers

secondary(color-var)
    darken(color-var, 5)
