/*  ALiEMU Color Palette   */
$au-primary                = #00B092
$au-secondary              = #3581B8
$au-tertiary               = #F7C59F

/*  AIR Series Color Palette  */
$air-primary               = #D0021B
$air-secondary             = #5B85AA
$air-tertiary              = #EAD2AC

/*  AIR Pro Color Palette  */
$airpro-primary            = #FC980D
$airpro-secondary          = #83B692
$airpro-tertiary           = #C5D1EB

/*  Capsules Color Palette  */

$capsules-primary          = #4a90e2
$capsules-secondary        = #6B8F71
$capsules-tertiary         = #D1CCDC

/*   Grayscale Palette   */
$gray-dark                 = #444243 // Used for card headings, etc...
$gray-light                = #F5F5F5 // Used for background of the coursebox cards


$secondary        = #00977d // Hover color

$font-color       = #666    // Base font color
$font-light-color = #F8F8FF
$link-inactive    = #b2b3b2 // inactive links from ultimate member
$green-correct    = #5CB85C // Correct answers
$red-incorrect    = #EF001D // Incorrect answers

secondary(color-var)
    darken(color-var, 5)
