// ================== Shadows ==================
$box-shadow = 0 2px 5px 0 rgba(0, 0, 0, 0.3)            // Default box-shadow used for items with shadows
$box-shadow-farther = 4px 2px 13px rgba(0, 0, 0, 0.25)  // Box shadows that appear higher up than `$box-shadow`


// ================== Borders ==================
$card-radius = 3px 3px 0 0 // Border radius for card-type items (top only)
